flask
gunicorn
plotly
pandas
numpy
GEOparse
ftfy
intermine
waitress
bokeh==2.4.3
matplotlib
tweepy
pyarrow
rpy2==3.4.5
git+https://github.com/Maayanlab/maayanlab-bioinformatics.git
scipy
python-dotenv
