flask
gunicorn
plotly
pandas
numpy
GEOparse
ftfy
intermine
waitress
bokeh==2.4.3
matplotlib
scikit-learn
tweepy
pyarrow
rpy2==3.4.5
git+https://github.com/Maayanlab/maayanlab-bioinformatics.git
scipy
anndata==0.8.0
scanpy==1.9.1
colorcet==3.0.0
leidenalg==0.9.0
numba==0.55.0
umap-learn==0.5.2
s3fs
datashader
holoviews
scikit-image
umap
seaborn
openai


