
  

h1 { color: #0f0724; font-family:  'Open Sans', sans-serif; font-size: 36px; font-weight: 350; line-height: 40px; margin: 0 0 16px; /* border: #d0d0d0; border-left-style: solid; border-right-style: solid; border-width: 2px; */}


/* h2 { color: #111; font-family: 'Open Sans', sans-serif; font-size: 36px; font-weight: 400; line-height: 32px; text-align: center; } */
h2 { color: #111; font-family: 'Open Sans', sans-serif; font-size: 36px; font-weight: normal ; letter-spacing: -1px; line-height: 1; text-align: center; }

h4 { color: #050a2f; font-family:  'Open Sans', sans-serif; font-size: 22px; font-weight: 340; line-height: 32px; margin: 0 0 14px; }

h5 { color: #050a2f; font-family:  'Open Sans', sans-serif; font-size: 22px; font-weight: 340; line-height: 32px; margin: 0 0 14px; }

.h7 { color: #050a2f; font-family:  'Open Sans', sans-serif; font-size: 16px; font-weight: 300; line-height: 32px; margin: 0 0 14px; }

/* p { color: #222; font-family: 'Open Sans', sans-serif; font-size: 15px; font-weight: 400; line-height: 24px; margin: 0 0 14px; } */

label {
    font-family: 'Open Sans', sans-serif;
}

.page-header {

    color: #050a2f; font-family: 'Open Sans', sans-serif; font-size: 25px; font-weight: 350; line-height: 32px; margin: 0 0 14px; 

}

.nav-link {
    font-family: 'Open Sans', sans-serif;
}


.selectize-dropdown {
    position: absolute !important;
    z-index: 10000000000 !important; 
    border: 1px solid #d0d0d0 !important;
    background: #ffffff !important;
    margin: -1px 0 0 0 !important;
    border-top: 0 none !important;
    font: 'Open Sans', sans-serif !important;
}

.selectize-nav {
    position: relative !important;
    border: 1px solid #801414 !important;

    margin: -1px 0 0 0 !important;
    border-top: 0 none !important; 
    display: none;
}

.navbar-toggler-icon {
    background-image: url('../img/hamburger.png');
}



.title-border {
    border-bottom-style: solid !important;
    border-bottom-color: darkgray !important;
    border-bottom-width: 2px !important;
}


.ui-menu-item .ui-menu-item-wrapper.ui-state-active {
    background: #6693bc !important;
    font-weight: bold !important;
    color: #ffffff !important;
    border: gray;
} 

.ui-menu-item .ui-menu-item-wrapper {
    background-color: white;
}

.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding to account for vertical scrollbar */
    padding-right: 20px;
}

.page-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

  }
  
.content-wrap {
    padding-bottom: 3rem;    /* Footer height */
}
  

#sigcomslogo {
    border: black;
    border-radius: 2%;
    border-style: solid;
}

  
.link {
    list-style: square;
}

.appyter-link {
    font-size: 1rem; font-weight: 400; background: rgb(142, 199, 249); border-radius: 4px; border: 1px solid #bddffd; 
}
  

.btn {
    border: black;
    color: white;
    background-color:  rgb(117, 190, 255);
}

.top{
    font-family: monospace;
    font-size: large;
    font-weight: bold;
}


header {
    margin: 0;
    margin-left: 50px;
}

.border-bottom {
    color: #000000;
}

body {
    margin: 0px;
    color: #222; 
    font-family: 'Open Sans', sans-serif; 
    font-size: 15px; 
    font-weight: 400; 
    line-height: 24px; 
   /*  background-image: linear-gradient(to right, whitesmoke, rgb(166, 217, 241)); */
    background-color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
    flex-grow: 1;
    margin-bottom: 60px; /* Margin bottom by footer height */
}


    
.footer {
    position: relative;
    background-color: #ECEFF1;
    bottom: 0;
    width: 100%;
    height: 100%; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
}


.btn-primary:hover {
    background-color: #2e3093;
    border-color: #000000;
    color: rgb(255, 254, 254);
}
.btn-primary {
    border-color: rgb(113, 112, 112);
    border-width: 1px;
    border-style: solid;
    background-color: #3c3ebf8f;
    color: rgb(255, 255, 255);
}

.btn-primary .span {
  border-color: #969696;
  border-style: solid;
  background-color: #f5efef;
  color: black;

}

.btn-custom {
    border: rgb(185, 185, 185);
    border-style: solid;
    width: 150px;
    border-radius: 2rem;
    text-align: center;
    padding: .4rem;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    min-height: 500px;
}

.custom-col {
    border: rgb(182, 182, 182);
    background-color: #ffffff;
    border-width: 2px;
    border-style: solid;
    border-radius: 2rem;
    overflow: auto;
}

.banner {
    background-color: #ffffff;;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    height: fit-content;
}

.navbar.center .navbar-inner {
    text-align: center !important;
}

.navbar.center .navbar-inner .nav {
    display:inline-block !important;
    float: none !important;
}

#condition-table {
    border: rgb(182, 182, 182);
    background-color: #ffffff;
    border-width: 1.5px;
    border-style: solid;
    border-radius: 1%;
}

.libpicker {
    background-color: #9a8fc1;
    color: white;
    border-radius: 1%;
    border-style: none;
    font-family: 'Open Sans', sans-serif;
}



.img-thumbnail {
    border-color: darkgray;
    width: 300px; 
    height: 155px;
}

header#masthead {
    padding-bottom: 0;
}

a {
    color: black;
}

.centered {
    display : block;
    margin : 0 auto;
    text-align: center;
    width: 700px;
}
.query-list {
    border-style: solid;
    border-color: rgb(145, 145, 145);
    border-width: 1px;
    border-radius: 2%;
} 
.query-list li {
    margin: 5px 15px;
}

.queries {
    text-shadow: #9242a4;
    font-size: 16px;
    font-weight:normal;
    color: rgb(103, 20, 95);
    margin-right: 5px;
}

.img-logo {
    height: 155px; 
    border-color: darkgray; 
    border-style: solid;
    border-radius: 2%;
    border-width: 1px;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: 'Open Sans', sans-serif !important;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    overflow: scroll;
}

.styled-table th,
.styled-table td {
    padding: 5px 5px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #807e7e;
}

.nav-link-menu {
    color: whitesmoke !important;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

nav[data-toggle="toc"] .nav .nav>li>a{
    padding-top:1px;padding-bottom:1px;padding-left:30px;font-size:20px !important;font-weight:400
}

nav[data-toggle="toc"] nav>li>a{display:block;padding:4px 20px;font-size:25px !important;font-weight:500;color:#767676}


nav[data-toggle="toc"] {
    top: 150px;

}

.menu ul {
    list-style:none;
}

.menu li{
    display:inline-block; 
    padding:0 7px; 
    position:relative;
}
  
.menu li:not(:last-child)::after{
    content:""; 
    border:1px solid black;
    border-width: 1px 1px 0 0;
    position:absolute; 
    right:-3px; 
    top:10px; 
    height:50%;
}



  


.nav-item.dropdown .dropdown-item:hover, .dropdown-item:focus  {
    background-color: lightblue !important;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    left: 48%;
    position: relative;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    justify-content: center;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.btn-inactive {
    background-color: rgb(192, 186, 186);
}


  

  /* Current Menu Item */
  

.active{
    font-weight: bolder !important;
}

  
nav select {
    display: none;
}


.toggle {
    --width: 100px;
    --height: calc(var(--width) / 3);

    position: relative;
    display: inline-block;
    width: var(--width);
    height: var(--height);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: var(--height);
    cursor: pointer;
  }

  .toggle input {
    display: none;
  }

  .toggle .slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--height);
    background-color: #9a8fc1;
    transition: all 0.4s ease-in-out;
  }

  .toggle .slider::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: calc(var(--height));
    height: calc(var(--height));
    border-radius: calc(var(--height) / 2);
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    transition: all 0.4s ease-in-out;
  }

  .toggle input:checked+.slider {
    background-color: #9a8fc1;
  }

  .toggle input:checked+.slider::before {
    transform: translateX(calc(var(--width) - var(--height)));
  }

  .toggle .labels {
    position: absolute;
    top: 8px;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    transition: all 0.4s ease-in-out;
  }

.toggle .labels::after {
    content: attr(data-off);
    position: absolute;
    right: 10px;
    bottom: 12px;
    color: #ffffff;
    opacity: 1;
    transition: all 0.4s ease-in-out;
}

.toggle .labels::before {
    content: attr(data-on);
    position: absolute;
    left: 10px;
    bottom: 12px;
    color: #ffffff;
    opacity: 0;
    transition: all 0.4s ease-in-out;
}

.toggle input:checked~.labels::after {
    opacity: 0;
}

  .toggle input:checked~.labels::before {
    opacity: 1;
}



/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #9a8fc1;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #9a8fc1;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
}

.num-style {
    font-size: large;
}

  /* small screens */
  @media (min-width: 768px) and (max-width: 1300px) {
    /* override stickyness so that the navigation does not follow scrolling */
    nav ul     { display: none; }
    nav select { display: inline-block; }
    navbar-collapse.collapse.in{ display: none !important; }
/*     .navbar-toggler { display: flex !important; } */
    nav[data-toggle="toc"] {
        margin-bottom: 42px;
        margin-left: 0px;
        padding-left: 0px;
        position: static;
    }

    /* PICK ONE */
    /* don't expand nested items, which pushes down the rest of the page when navigating */
    nav[data-toggle="toc"] .nav .active .nav {
        display: none;
    }
    
}

.input-wrapper input {
    background-color: #eee;
    border: none;
    padding: 1rem;
    padding-right: 1rem;
    font-size: 1rem;
    width: 20em;
    border-radius: 1rem;
    color: rgb(95, 95, 95);
    box-shadow: 0 0.4rem #dfd9d9;
    cursor: pointer;
}

.input-wrapper input:focus {
    outline-color: rgb(188, 145, 204);
}

  button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
   }
   
   button.learn-more {
    width: 14rem;
    height: fit-content;
   }
   
   button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #282936;
    border-radius: 1.625rem;
   }
   
   button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
   }
   
   button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
   }
   
   button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
   }
   
   button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.75rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
   }
   
   button:hover .circle {
    width: 100%;
   }
   
   button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
   }
   
   button:hover .button-text {
    color: #fff;
   }


.query-submit {
    transform: translateX(-8px);
    transition: all 0.3s ease;
  }
  
.query-submit:hover {
    transform: translateX(0);
  }

.query-submit:focus {
    outline: none;
}

.loadingspinner {
    --square: 26px;
    --offset: 30px;
    --duration: 2.4s;
    --delay: 0.2s;
    --timing-function: ease-in-out;
    --in-duration: 0.4s;
    --in-delay: 0.1s;
    --in-timing-function: ease-out;
    width: calc( 3 * var(--offset) + var(--square));
    height: calc( 2 * var(--offset) + var(--square));
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 30px;
    position: relative;
  }
  
  .loadingspinner div {
    display: inline-block;
    background: rgb(137, 53, 162);
      /*background: var(--text-color);*/
      /*box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);*/
    border: none;
    border-radius: 2px;
    width: var(--square);
    height: var(--square);
    position: absolute;
    padding: 0px;
    margin: 0px;
    font-size: 6pt;
    color: black;
  }
  
  .loadingspinner #square1 {
    left: calc( 0 * var(--offset) );
    top: calc( 0 * var(--offset) );
    animation: square1 var(--duration) var(--delay) var(--timing-function) infinite,
                 squarefadein var(--in-duration) calc(1 * var(--in-delay)) var(--in-timing-function) both;
  }
  
  .loadingspinner #square2 {
    left: calc( 0 * var(--offset) );
    top: calc( 1 * var(--offset) );
    animation: square2 var(--duration) var(--delay) var(--timing-function) infinite,
                squarefadein var(--in-duration) calc(1 * var(--in-delay)) var(--in-timing-function) both;
  }
  
  .loadingspinner #square3 {
    left: calc( 1 * var(--offset) );
    top: calc( 1 * var(--offset) );
    animation: square3 var(--duration) var(--delay) var(--timing-function) infinite,
                 squarefadein var(--in-duration) calc(2 * var(--in-delay)) var(--in-timing-function) both;
  }
  
  .loadingspinner #square4 {
    left: calc( 2 * var(--offset) );
    top: calc( 1 * var(--offset) );
    animation: square4 var(--duration) var(--delay) var(--timing-function) infinite,
                 squarefadein var(--in-duration) calc(3 * var(--in-delay)) var(--in-timing-function) both;
  }
  
  .loadingspinner #square5 {
    left: calc( 3 * var(--offset) );
    top: calc( 1 * var(--offset) );
    animation: square5 var(--duration) var(--delay) var(--timing-function) infinite,
                 squarefadein var(--in-duration) calc(4 * var(--in-delay)) var(--in-timing-function) both;
  }
  
  @keyframes square1 {
    0% {
      left: calc( 0 * var(--offset) );
      top: calc( 0 * var(--offset) );
    }
  
    8.333% {
      left: calc( 0 * var(--offset) );
      top: calc( 1 * var(--offset) );
    }
  
    100% {
      left: calc( 0 * var(--offset) );
      top: calc( 1 * var(--offset) );
    }
  }
  
  @keyframes square2 {
    0% {
      left: calc( 0 * var(--offset) );
      top: calc( 1 * var(--offset) );
    }
  
    8.333% {
      left: calc( 0 * var(--offset) );
      top: calc( 2 * var(--offset) );
    }
  
    16.67% {
      left: calc( 1 * var(--offset) );
      top: calc( 2 * var(--offset) );
    }
  
    25.00% {
      left: calc( 1 * var(--offset) );
      top: calc( 1 * var(--offset) );
    }
  
    83.33% {
      left: calc( 1 * var(--offset) );
      top: calc( 1 * var(--offset) );
    }
  
    91.67% {
      left: calc( 1 * var(--offset) );
      top: calc( 0 * var(--offset) );
    }
  
    100% {
      left: calc( 0 * var(--offset) );
      top: calc( 0 * var(--offset) );
    }
  }
  
  @keyframes square3 {
    0%,100% {
      left: calc( 1 * var(--offset) );
      top: calc( 1 * var(--offset) );
    }
  
    16.67% {
      left: calc( 1 * var(--offset) );
      top: calc( 1 * var(--offset) );
    }
  
    25.00% {
      left: calc( 1 * var(--offset) );
      top: calc( 0 * var(--offset) );
    }
  
    33.33% {
      left: calc( 2 * var(--offset) );
      top: calc( 0 * var(--offset) );
    }
  
    41.67% {
      left: calc( 2 * var(--offset) );
      top: calc( 1 * var(--offset) );
    }
  
    66.67% {
      left: calc( 2 * var(--offset) );
      top: calc( 1 * var(--offset) );
    }
  
    75.00% {
      left: calc( 2 * var(--offset) );
      top: calc( 2 * var(--offset) );
    }
  
    83.33% {
      left: calc( 1 * var(--offset) );
      top: calc( 2 * var(--offset) );
    }
  
    91.67% {
      left: calc( 1 * var(--offset) );
      top: calc( 1 * var(--offset) );
    }
  }
  
  @keyframes square4 {
    0% {
      left: calc( 2 * var(--offset) );
      top: calc( 1 * var(--offset) );
    }
  
    33.33% {
      left: calc( 2 * var(--offset) );
      top: calc( 1 * var(--offset) );
    }
  
    41.67% {
      left: calc( 2 * var(--offset) );
      top: calc( 2 * var(--offset) );
    }
  
    50.00% {
      left: calc( 3 * var(--offset) );
      top: calc( 2 * var(--offset) );
    }
  
    58.33% {
      left: calc( 3 * var(--offset) );
      top: calc( 1 * var(--offset) );
    }
  
    100% {
      left: calc( 3 * var(--offset) );
      top: calc( 1 * var(--offset) );
    }
  }
  
  @keyframes square5 {
    0% {
      left: calc( 3 * var(--offset) );
      top: calc( 1 * var(--offset) );
    }
  
    50.00% {
      left: calc( 3 * var(--offset) );
      top: calc( 1 * var(--offset) );
    }
  
    58.33% {
      left: calc( 3 * var(--offset) );
      top: calc( 0 * var(--offset) );
    }
  
    66.67% {
      left: calc( 2 * var(--offset) );
      top: calc( 0 * var(--offset) );
    }
  
    75.00% {
      left: calc( 2 * var(--offset) );
      top: calc( 1 * var(--offset) );
    }
  
    100% {
      left: calc( 2 * var(--offset) );
      top: calc( 1 * var(--offset) );
    }
  }
  
  @keyframes squarefadein {
    0% {
      transform: scale(0.75);
      opacity: 0.0;
    }
  
    100% {
      transform: scale(1.0);
      opacity: 1.0;
    }
  }


.answerbox {
    margin: 1rem;
    padding: 1rem;
    background: hsla(200, 100%, 86%, 0.4);
    border-radius: 0.5rem;
    width: 87%;
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 500ms;
}

.answerbox > div {
    overflow: hidden;
}

.answerbox:active {
    grid-template-rows: 1fr;
}


@keyframes fadeIn {
    0% {
        transform: scale(0);
        opacity: 0.0;       
    }
    60% {
        transform: scale(1.1);  
    }
    80% {
        transform: scale(0.9);
        opacity: 1; 
    }   
    100% {
        transform: scale(1);
        opacity: 1; 
    }       
}

@-webkit-keyframes fadeIn {
    0% {
        -webkit-transform: scale(0);
        opacity: 0.0;       
    }
    60% {
        -webkit-transform: scale(1.1);
    }
    80% {
        -webkit-transform: scale(0.9);
        opacity: 1; 
    }   
    100% {
        -webkit-transform: scale(1);
        opacity: 1; 
    }       
}

.chat{grid-template-columns:repeat(2,minmax(0,1fr));column-gap:.75rem;padding-top:.25rem;padding-bottom:.25rem;display:grid}
.chat-image{grid-row:span 2/span 2;align-self:flex-end}
.chat-header{grid-row-start:1;font-size:.875rem;line-height:1.25rem}
.chat-footer{grid-row-start:3;font-size:.875rem;line-height:1.25rem}
.chat-bubble{width:fit-content;max-width:90%;border-radius:var(--rounded-box,1rem);min-height:2.75rem;min-width:2.75rem;--tw-bg-opacity:1;background-color:hsl(var(--n)/var(--tw-bg-opacity));--tw-text-opacity:1;color:hsl(var(--nc)/var(--tw-text-opacity));padding:.5rem 1rem;display:block;position:relative}
.chat-bubble:before{height:.75rem;width:.75rem;background-color:inherit;content:"";-webkit-mask-size:contain;mask-size:contain;-webkit-mask-repeat:no-repeat;mask-repeat:no-repeat;-webkit-mask-position:center;mask-position:50%;position:absolute;bottom:0}.chat-start{grid-template-columns:auto 1fr;place-items:start}
.chat-start .chat-header,.chat-start .chat-footer{grid-column-start:2}
.chat-start .chat-image{grid-column-start:1}
.chat-start .chat-bubble{border-bottom-left-radius:0;grid-column-start:2}
.chat-start .chat-bubble:before{-webkit-mask-image:url("data:image/svg+xml,%3csvg width='3' height='3' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill='black' d='m 0 3 L 3 3 L 3 0 C 3 1 1 3 0 3'/%3e%3c/svg%3e");mask-image:url("data:image/svg+xml,%3csvg width='3' height='3' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill='black' d='m 0 3 L 3 3 L 3 0 C 3 1 1 3 0 3'/%3e%3c/svg%3e");left:-.75rem}[dir=rtl] 
.chat-start .chat-bubble:before{-webkit-mask-image:url("data:image/svg+xml,%3csvg width='3' height='3' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill='black' d='m 0 3 L 1 3 L 3 3 C 2 3 0 1 0 0'/%3e%3c/svg%3e");mask-image:url("data:image/svg+xml,%3csvg width='3' height='3' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill='black' d='m 0 3 L 1 3 L 3 3 C 2 3 0 1 0 0'/%3e%3c/svg%3e")}
.chat-end{grid-template-columns:1fr auto;place-items:end}
.chat-end .chat-header,.chat-end .chat-footer{grid-column-start:1}.chat-end .chat-image{grid-column-start:2}
.chat-end .chat-bubble{border-bottom-right-radius:0;grid-column-start:1}
.chat-end .chat-bubble:before{-webkit-mask-image:url("data:image/svg+xml,%3csvg width='3' height='3' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill='black' d='m 0 3 L 1 3 L 3 3 C 2 3 0 1 0 0'/%3e%3c/svg%3e");mask-image:url("data:image/svg+xml,%3csvg width='3' height='3' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill='black' d='m 0 3 L 1 3 L 3 3 C 2 3 0 1 0 0'/%3e%3c/svg%3e");left:100%}[dir=rtl] 
.chat-end .chat-bubble:before{-webkit-mask-image:url("data:image/svg+xml,%3csvg width='3' height='3' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill='black' d='m 0 3 L 3 3 L 3 0 C 3 1 1 3 0 3'/%3e%3c/svg%3e");mask-image:url("data:image/svg+xml,%3csvg width='3' height='3' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill='black' d='m 0 3 L 3 3 L 3 0 C 3 1 1 3 0 3'/%3e%3c/svg%3e")}

/* 
.avatar-group{display:flex;overflow:hidden}.avatar-group :where(.avatar){--tw-border-opacity:1;border-width:4px;border-color:hsl(var(--b1)/var(--tw-border-opacity));border-radius:9999px;overflow:hidden}.badge-primary{--tw-border-opacity:1;border-color:hsl(var(--p)/var(--tw-border-opacity));--tw-bg-opacity:1;background-color:hsl(var(--p)/var(--tw-bg-opacity));--tw-text-opacity:1;color:hsl(var(--pc)/var(--tw-text-opacity))} */

.avatar{display:inline-flex;position:relative}
.avatar>div{aspect-ratio:1/1;display:block;overflow:hidden}
.avatar img{height:100%;width:100%;object-fit:cover}
.avatar.placeholder>div{justify-content:center;align-items:center;display:flex}

#query-section {
    display: block;
}

#chat-section {
    display: none;
}


.cards {
  display: grid;
  
  grid-template-columns: repeat(3, 1fr);
  
  grid-auto-rows: auto;
  
  grid-gap: 1rem;
  
  }


.card {
  display: flex;
  border: 2px solid #e7e7e7;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: .2rem;
  background-color: rgb(244, 244, 244);
  padding: .2rem;
  cursor: pointer;
  font-size: .8rem;
}


@media (min-width: 1300px){
  .navbar-expand-custom {
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
  }
  .navbar-expand-custom .navbar-nav {
      flex-direction: row;
  }
  .navbar-expand-custom .dropdown-menu {
      position: absolute;
  }
  .navbar-expand-custom .nav-link {
      padding-right: .5rem;
      padding-left: .5rem;
  }
  .navbar-expand-custom > .container {
      flex-wrap: nowrap;
  }
  .navbar-expand-custom .navbar-collapse {
      display: flex!important;
      flex-basis: auto;
  }
  .navbar-expand-custom .navbar-toggler {
      display: none;
  }
}
#reset-arrow {
  transition: transform .7s ease-in-out;
}

#reset-arrow:hover {
  transform: rotate(270deg);
  cursor: pointer;
}