

h1 { color: #0f0724; font-family:  "IBM Plex Sans", sans-serif; font-size: 36px; font-weight: 350; line-height: 40px; margin: 0 0 16px; /* border: #d0d0d0; border-left-style: solid; border-right-style: solid; border-width: 2px; */}


h2 { color: #050a2f; font-family:  "IBM Plex Sans", sans-serif; font-size: 24px; font-weight: 300; line-height: 32px; margin: 0 0 14px; }


h4 { color: #050a2f; font-family:  "IBM Plex Sans", sans-serif; font-size: 22px; font-weight: 340; line-height: 32px; margin: 0 0 14px; }

h5 { color: #050a2f; font-family:  "IBM Plex Sans", sans-serif; font-size: 22px; font-weight: 340; line-height: 32px; margin: 0 0 14px; }


p { color: #222; font-family: "IBM Plex Sans", sans-serif; font-size: 15px; font-weight: 400; line-height: 24px; margin: 0 0 14px; }

label {
    font-family: "IBM Plex Sans", sans-serif;
}

.page-header {

    color: #050a2f; font-family: "IBM Plex Sans", sans-serif; font-size: 25px; font-weight: 350; line-height: 32px; margin: 0 0 14px; 

}

.nav-link {
    font-family: "IBM Plex Sans", sans-serif;
}


.selectize-dropdown {
    position: absolute !important;
    z-index: 10000000000 !important; 
    border: 1px solid #d0d0d0 !important;
    background: #ffffff !important;
    margin: -1px 0 0 0 !important;
    border-top: 0 none !important;
    font: "IBM Plex Sans", sans-serif !important;
}

.selectize-nav {
    position: relative !important;
    border: 1px solid #801414 !important;

    margin: -1px 0 0 0 !important;
    border-top: 0 none !important; 
    display: none;
}

.navbar-toggler-icon {
    background-image: url('../img/hamburger.png');
}


/* a {
    color: rgb(10, 13, 149); 
    text-decoration: none; } */

.title-border {
    border-bottom-style: solid !important;
    border-bottom-color: darkgray !important;
    border-bottom-width: 2px !important;
}


.ui-menu-item .ui-menu-item-wrapper.ui-state-active {
    background: #6693bc !important;
    font-weight: bold !important;
    color: #ffffff !important;
    border: gray;
} 

.ui-menu-item .ui-menu-item-wrapper {
    background-color: white;
}

.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding to account for vertical scrollbar */
    padding-right: 20px;
}

.page-container {
    position: relative;
    min-height: 80vh;
  }
  
.content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
}
  

#sigcomslogo {
    border: black;
    border-radius: 2%;
    border-style: solid;
}

.ml-3 {
    color: white;
}
  
.link {
    list-style: square;
}

.appyter-link {
    font-size: 1rem; font-weight: 400; background: rgb(142, 199, 249); border-radius: 4px; border: 1px solid #bddffd; 
}
  

.btn {
    border: black;
    color: white;
    background-color:  rgb(117, 190, 255);
}

.top{
    font-family: monospace;
    font-size: large;
    font-weight: bold;
}


header {
    margin: 0;
    margin-left: 50px;
}

.border-bottom {
    color: #000000;
}

body {
    margin: 0px;
    color: #222; 
    font-family: "IBM Plex Sans", sans-serif; 
    font-size: 15px; 
    font-weight: 400; 
    line-height: 24px; 
    margin: 0 0 14px;
   /*  background-image: linear-gradient(to right, whitesmoke, rgb(166, 217, 241)); */
    background-color: #B0BEC5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
}

.footer{
    margin-top: auto;
    background-color: #ECEFF1;
    width: 100%;
    padding-bottom: 0%;
    margin-bottom: 0%;
}

.btn-primary:hover {
    background-color: #71477a;
}
.btn-primary {

    background-color: #9a8fc1;

}

.btn-custom {
    border: lightgray;
    border-style: solid;
    width: 140px;
}




.custom-col {
    border: rgb(182, 182, 182);
    background-color: #CFD8DC;
    border-width: 1.5px;
    overflow: scroll;
    border-style: solid;
    border-radius: 1%;
    
}

.navbar.center .navbar-inner {
    text-align: center !important;
}

.navbar.center .navbar-inner .nav {
    display:inline-block !important;
    float: none !important;
}

#condition-table {
    border: rgb(182, 182, 182);
    background-color: #CFD8DC;
    border-width: 1.5px;
    border-style: solid;
    border-radius: 1%;
}

.libpicker {
    background-color: #9a8fc1;
    color: white;
    border-radius: 1%;
    border-style: none;
    font-family: "IBM Plex Sans", sans-serif;
}



.banner {
/*     border: rgb(182, 182, 182); */
    padding: 0;
    margin: 0;

}

.img-thumbnail {
    border-color: darkgray;
    width: 300px; 
    height: 155px;
}

header#masthead {
    padding-bottom: 0;
}

a {
    color: black;
}

.centered {
    display : block;
    margin : 0 auto;
    text-align: left;
    width: 800px;
}

.img-logo {
    height: 155px; 
    border-color: darkgray; 
    border-style: solid;
    border-radius: 2%;
    border-width: 1px;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: "IBM Plex Sans", sans-serif !important;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    overflow: scroll;
}

.styled-table th,
.styled-table td {
    padding: 5px 5px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #807e7e;
}

.nav-link-menu {
    color: whitesmoke !important;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

nav[data-toggle="toc"] .nav .nav>li>a{
    padding-top:1px;padding-bottom:1px;padding-left:30px;font-size:20px !important;font-weight:400
}

nav[data-toggle="toc"] nav>li>a{display:block;padding:4px 20px;font-size:25px !important;font-weight:500;color:#767676}


nav[data-toggle="toc"] {
    top: 150px;

}

.menu ul {
    list-style:none;
}

.menu li{
    display:inline-block; 
    padding:0 7px; 
    position:relative;
}
  
.menu li:not(:last-child)::after{
    content:""; 
    border:1px solid black;
    border-width: 1px 1px 0 0;
    position:absolute; 
    right:-3px; 
    top:10px; 
    height:50%;
}



  
  /* small screens */
@media (max-width: 700px) {
/* override stickyness so that the navigation does not follow scrolling */

    nav[data-toggle="toc"] {
        margin-bottom: 42px;
        margin-left: 0px;
        padding-left: 0px;
        position: static;
    }

    /* PICK ONE */
    /* don't expand nested items, which pushes down the rest of the page when navigating */
    nav[data-toggle="toc"] .nav .active .nav {
        display: none;
    }

}

.nav-item.dropdown .dropdown-item:hover, .dropdown-item:focus  {
    background-color: lightblue !important;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    left: 48%;
    position: relative;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    justify-content: center;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.btn-inactive {
    background-color: rgb(192, 186, 186);
}

.navbar .active {
    color: white !important;
}

  

  /* Current Menu Item */
  

.active{
    font-weight: bolder !important;
}

  
nav select {
    display: none;
}

@media (max-width: 768px) {
    nav ul     { display: none; }
    nav select { display: inline-block; }
}



