

h1 { color: #0f0724; font-family: 'Open Sans', sans-serif; font-size: 34px; font-weight: 300; line-height: 40px; margin: 0 0 16px; }


h2 { color: #050a2f; font-family: 'Open Sans', sans-serif; font-size: 24px; font-weight: 300; line-height: 32px; margin: 0 0 14px; }


h4 { color: #050a2f; font-family: 'Open Sans', sans-serif; font-size: 22px; font-weight: 340; line-height: 32px; margin: 0 0 14px; }


p { color: #222; font-family: 'Open Sans', sans-serif; font-size: 15px; font-weight: 400; line-height: 24px; margin: 0 0 14px; }


a {  color: #222; text-decoration: none; }


.ui-menu-item .ui-menu-item-wrapper.ui-state-active {
    background: #6693bc !important;
    font-weight: bold !important;
    color: #ffffff !important;
    border: gray;
} 



.ml-3 {
    color: white;
}
  
.link {
    list-style: square;
}

.appyter-link {
    font-size: 1rem; font-weight: 400; background: rgb(142, 199, 249); border-radius: 4px; border: 1px solid #bddffd; 
}
  

.btn {
    border: black;
    color: white;
    background-color:  rgb(117, 190, 255);
}

.top{
    font-family: monospace;
    font-size: large;
    font-weight: bold;
}


header {
    margin: 0;
    margin-left: 50px;
}

.border-bottom {
    color: #000000;
}

body {
    margin: 0;
    padding: 50;
    background-image: linear-gradient(to right, white, rgb(179, 213, 223));
}


div {
    border-bottom-color: black;
}

.custom-col {
    border: rgb(182, 182, 182);
    /*background-color: #dee3fe;*/
    border-width: 1px;
    overflow: hidden;
    border-style: solid;
    border-radius: 1%;
}

.img-thumbnail {
    border-color: darkgray;
    width: 275px; 
    height: 145px;
}



nav[data-toggle="toc"] {
    top: 150px;
  }
  
  /* small screens */
  @media (max-width: 768px) {
    /* override stickyness so that the navigation does not follow scrolling */
    nav[data-toggle="toc"] {
      margin-bottom: 42px;
      position: static;
    }
  
    /* PICK ONE */
    /* don't expand nested items, which pushes down the rest of the page when navigating */
    nav[data-toggle="toc"] .nav .active .nav {
      display: none;
    }

  }
  