{% extends 'base.html' %}


{% block body %}
<div class="justify-content-center container-fluid">
  <div class="col-10 justify-content-center mx-auto banner">
    <div class="row justify-content-center mb-3  mt-4">
      <div class=" text-center col-lg-12">
        <h2 class="">About</h2>
      </div>
    </div>

    <div hidden>
      <div id="human-bulk-num">{{ numstudies['human'] }}</div>
      <div id="mouse-bulk-num">{{ numstudies['mouse'] }}</div>
      <div id="human-sc-num">{{ numstudies['human_single'] }}</div>
      <div id="mouse-sc-num">{{ numstudies['mouse_single'] }}</div>
    </div>

    <div class="row justify-content-center text-center">
      <p style="font-weight: 300; font-size: 1.1rem; line-height: 1.3" class="m-2">
        This site is supported by the <a href="https://www.niddk.nih.gov/" target="_blank"> NIDDK </a> through <a
          href="https://reporter.nih.gov/search/S5e0jg4ipkuTqk8o-vkmIw/project-details/10414588"
          target="_blank">RC2-DK131995</a>.
      </p>
    </div>
  </div>

  <div class="custom-col col-lg-7 justify-content-center mx-auto mt-4 mb-5">
    <div class="row justify-content-center mt-3 mb-3 text-center">
      <p class="p-2">
        D2H2 utilzes a variety of resources to harmonize knowledge for hypotheses generation.
      </p>
    </div>
    <div class="container">
      <div class="row justify-content-center mb-3">
        <div class="column m-2">
          <a href="https://appyters.maayanlab.cloud/#/" target="_blank">
            <img src="{{ url_for('static', filename='img/appyters_logo.svg') }}" alt="Appyters" style="width: 150px;" />
          </a>
        </div>
        <div class="column m-2">
          <a href="https://maayanlab.cloud/archs4/" target="_blank">
            <img src="{{ url_for('static', filename='img/archs4logo.png') }}" alt="ARCHS4" style="width: 150px;" />
          </a>
        </div>
        <div class="column m-2">
          <a href="https://gtexportal.org/home/" target="_blank">
            <img src="{{ url_for('static', filename='img/gtexlogo.png') }}" alt="GTEx" style="width: 150px;" />
          </a>
        </div>
        <div class="column m-2 mt-2">
          <a href="https://maayanlab.cloud/geneshot/" target="_blank">
            <img src="{{ url_for('static', filename='img/geneshot_txt_logo.png') }}" alt="GeneShot" style="width: 170px;" />
          </a>
        </div>
      </div>
      <div class="row justify-content-center mb-3">
        <div class="column m-2">
          <a href="https://www.ebi.ac.uk/gwas/" target="_blank">
            <img src="{{ url_for('static', filename='img/gwas.png') }}" alt="GWAS" style="width: 80px;" />
          </a>
        </div>
        <div class="column m-2 ml-4">
          <a href="https://maayanlab.cloud/sigcom-lincs/#/SignatureSearch/UpDown" target="_blank">
            <img src="{{ url_for('static', filename='img/sigcom_lincs_logo2.png') }}" alt="SigComLincs"
              style="width: 80px;" />
          </a>
        </div>
        <div class="column m-2 ml-4">
          <a href="https://maayanlab.cloud/Enrichr/" target="_blank">
            <img src="{{ url_for('static', filename='img/enrichrlogo.png') }}" alt="Enrichr" style="width: 80px;" />
          </a>
        </div>
        <div class="column m-2 ml-4">
          <a href="https://generanger.maayanlab.cloud/gene/A2M?database=ARCHS4" target="_blank">
            <img src="{{ url_for('static', filename='img/generangerlogo.png') }}" alt="GeneRanger"
              style="width: 80px;" />
          </a>
        </div>
        <div class="column m-2 ml-4">
          <a href="https://maayanlab.cloud/chea3/" target="_blank">
            <img src="{{ url_for('static', filename='img/chea3.png') }}" alt="ChEA3"
              style="width: 80px;" />
          </a>
        </div>
        <div class="column m-2 ml-4">
          <a href="https://maayanlab.cloud/kea3/" target="_blank">
            <img src="{{ url_for('static', filename='img/kea3.png') }}" alt="KEA3"
              style="width: 80px;" />
          </a>
        </div>
        <div class="column m-2">
          <a href="https://rummagene.com/" target="_blank">
            <img src="{{ url_for('static', filename='img/rummagene_logo.png') }}" alt="Rummagene" style="width: 80px;" />
          </a>
        </div>
      </div>
    </div>
    <div class="row justify-content-center mt-3 mb-3 text-center">
      Curated transcriptomics datasets from various Type 2 Diabetes studies are made available for download,
      visualization, and enrichment analysis.
    </div>
    <div class="row justify-content-center mt-3 text-center ">
      <div class="flex-column border">
        <canvas id="human-pie-chart" style="width:100%;min-width:400px;max-width:400px;"></canvas>
      </div>
      <div class="flex-column border">
        <canvas id="mouse-pie-chart" style="width:100%;min-width:400px;max-width:400px;"></canvas>
      </div>
    </div>


    <div class="row justify-content-center mb-3 text-center">
      <div class="flex-column border">
        <canvas id="disease-pie-chart" style="min-height:400px;width:100%;min-width:400px;max-width:800px;"></canvas>
      </div>
      <div class="flex-column border">
        <canvas id="tissue-pie-chart" style="min-height:400px;width:100%;min-width:400px;max-width:800px;"></canvas>
      </div>
      <div class="flex-column border">
        <canvas id="cell-types-pie-chart" style="min-height:400px;width:100%;min-width:400px;max-width:800px;"></canvas>
      </div>
      <div class="flex-column border">
        <canvas id="platform-pie-chart" style="min-height:400px;width:100%;min-width:400px;max-width:800px;"></canvas>
      </div>
    </div>
    

  </div>

</div>

{% endblock %}

{% block footer %}
<script>
  console.log(document.getElementById("human-bulk-num"))
  var xValues = ["RNA-seq & Microarray", "scRNA-seq"];
  var valsHuman = [parseInt(document.getElementById("human-bulk-num").innerText), parseInt(document.getElementById("human-sc-num").innerText)];

  var barColors = [
    "#2e3093",
    "#2e30938f",
  ];

  new Chart("human-pie-chart", {
    type: "doughnut",
    data: {
      labels: xValues,
      datasets: [{
        backgroundColor: barColors,
        data: valsHuman
      }]
    },
    options: {
      title: {
        display: true,
        text: "Human"
      }
    }
  });

  var valsMouse = [parseInt(document.getElementById("mouse-bulk-num").innerText), parseInt(document.getElementById("mouse-sc-num").innerText)];

  console.log(valsMouse)

  new Chart("mouse-pie-chart", {
    type: "doughnut",
    data: {
      labels: xValues,
      datasets: [{
        backgroundColor: barColors,
        data: valsMouse
      }]
    },
    options: {
      title: {
        display: true,
        text: "Mouse"
      }
    }
  });

  fetch("static/metadata_counts.json").then(response =>  response.json() ).then(json_data => {

    new Chart("platform-pie-chart", {
    type: "doughnut",
    data: {
      labels: json_data['platform']['labels'],
      datasets: [{
        backgroundColor: ["#2e3093","#2e30938f","#4f8c9d", "#6ce9d3", "#194f46", "#ade64f", "#31a46c", "#0df38f", "#374475", "#e28de2", "#2282f5", "#dfccfa", "#453cc5", "#f642d0", "#860967", "#967b95", "#9620fc", "#efd453", "#754819", "#ef972d", "#8e1023", "#f73931", "#89975b", "#65f112", "#4f8c9d", "#6ce9d3", "#194f46", "#ade64f", "#31a46c"],
        data: json_data['platform']['counts']
      }]
    },
    options: {
      title: {
        display: true,
        text: "Platform Types"
      }
    }
    });

    new Chart("tissue-pie-chart", {
    type: "doughnut",
    data: {
      labels: json_data['tissue']['labels'],
      datasets: [{
        backgroundColor: ["#2e3093","#2e30938f","#4f8c9d", "#6ce9d3", "#194f46", "#ade64f", "#31a46c", "#0df38f", "#374475", "#e28de2", "#2282f5", "#dfccfa", "#453cc5", "#f642d0", "#860967", "#967b95", "#9620fc", "#efd453", "#754819", "#ef972d", "#8e1023", "#f73931", "#89975b", "#65f112", "#4f8c9d", "#6ce9d3", "#194f46", "#ade64f", "#31a46c", "#0df38f", "#374475"],
        data: json_data['tissue']['counts']
      }]
    },
    options: {
      title: {
        display: true,
        text: "Tissue Types"
      }
    }
    });

    new Chart("disease-pie-chart", {
    type: "doughnut",
    data: {
      labels: json_data['disease']['labels'],
      datasets: [{
        backgroundColor: ["#2e3093","#2e30938f","#4f8c9d", "#6ce9d3", "#194f46", "#ade64f", "#31a46c", "#0df38f", "#374475", "#e28de2", "#2282f5", "#dfccfa", "#453cc5", "#f642d0", "#860967", "#967b95", "#9620fc", "#efd453", "#754819", "#ef972d", "#8e1023", "#f73931", "#89975b", "#65f112", "#4f8c9d", "#6ce9d3", "#194f46", "#ade64f", "#31a46c"],
        data: json_data['disease']['counts']
      }]
    },
    options: {
      title: {
        display: true,
        text: "Disease Types"
      }
    }
    });

    new Chart("cell-types-pie-chart", {
    type: "doughnut",
    data: {
      labels: json_data['cell type']['labels'],
      datasets: [{
        backgroundColor: ["#2e3093","#2e30938f","#4f8c9d", "#6ce9d3", "#194f46", "#ade64f", "#31a46c", "#0df38f", "#374475", "#e28de2", "#2282f5", "#dfccfa", "#453cc5", "#f642d0", "#860967", "#967b95", "#9620fc", "#efd453"],
        data: json_data['cell type']['counts']
      }]
    },
    options: {
      title: {
        display: true,
        text: "Cell Types For Single Cell Studies"
      }
    }
    });

  });



</script>

{% endblock %}