<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-GMKWFMPMR8"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-GMKWFMPMR8');
  </script>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <title>D2H2</title>


  <link rel="shortcut icon" href="{{ url_for('static', filename='img/d2h2logo.png') }}" type="image/x-icon" />

  <link rel="stylesheet" href="{{ url_for('static', filename='css/deps/bootstrap.min.css') }}"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/deps/bootstrap-toc.min.css') }}" />

  <link rel="stylesheet" href="{{ url_for('static', filename='css/deps/selectize.default.min.css') }}">


  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/deps/datatables.min.css') }}" />

  <link rel="stylesheet" href="{{ url_for('static', filename='css/deps/bootstrap-select.min.css') }}">

  <!-- ✅ Load CSS file for jQuery ui  -->
  <link href="{{url_for('static', filename='css/deps/jquery-ui.css')}}" rel="stylesheet" />

  <link href="{{url_for('static', filename='css/deps/googlefonts.css')}}" rel="stylesheet">

  <link href="{{url_for('static', filename='css/deps/google-fonts-OpenSans.min.css')}}" rel="stylesheet"
    type="text/css">

  <!-- Added for the NIDDK KG PART -->
  <link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.6/dist/css/autoComplete.02.min.css">
  
  <link rel="stylesheet" href="{{url_for('static', filename='css/deps/leaflet.css')}}" />

  <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">

  {% block head %}{%endblock%}
</head>

<body data-spy="scroll" data-target="#toc" class="m-0">
  <div class="page-contaier" style="position: relative;">
    <div id="content-wrap m-0 p-0">
      <!-- Navbar -->
      <nav id="mainnav" class="navbar navbar-expand-custom center" style="background-color: #f0eef0; font-size: 15px;">
        <a class="navbar-brand p-0" href="{{ url_for('home') }}"><img class="mr-4 ml-4"
            src="{{ url_for('static', filename='img/d2h2logo.png') }}" height="40px"
            onclick='localStorage.setItem("no_splash", true)'></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- <div class="navbar-collapse" id="testid"> -->
        <div class="navbar-collapse" id="expandedNav">

          <div class="horizontal text-center" style="display: inline-flexbox;">
            <table>
              <tbody>
                <tr>
                  <th>
                  </th>
                  <th class="text-center">
                    <a href="{{ url_for('singlegene_home') }}" style="color: black !important;" id="singlegenenav">

                    </a>
                  </th>
                  <th class="text-center">
                    <a href="{{ url_for('geneset_home') }}" style="color: black !important;" id="singlegenenav">
                    </a>
                  </th>
                  <th class="text-center">
                    <a href="{{ url_for('species_or_viewerpg', studies_or_gse='human') }}"
                      style="color: black !important;" id="singlegenenav">

                    </a>
                  </th>
                  <th class="text-center">
                    <a href="{{ url_for('species_or_viewerpg', studies_or_gse='human_single') }}"
                      style="color: black !important;" id="singlegenenav">
                    </a>
                  </th>
                  <th class="text-center">
                    <a href="{{ url_for('load_niddk_page') }}" style="color: black !important;">

                    </a>
                  </th>
                  <th class="text-center">
                    <a href="{{ url_for('resources') }}" style="color: black !important;">

                    </a>
                  </th>
                  <th class="text-center">
                    <a href="{{ url_for('contribute') }}" style="color: black !important;"">
                                  
                    </a>
                  </th>
                  <th class=" text-center">
                      <a href="{{ url_for('downloads') }}" style="color: black !important;" id="singlegenenav">

                      </a>
                  </th>
                  <th class="text-center">
                    <a href="{{ url_for('about') }}" style="color: black !important;" id="singlegenenav">

                    </a>
                  </th>
                  <th class="text-center">
                    <a href="{{ url_for('help') }}" style="color: black !important;" id="singlegenenav">

                    </a>
                  </th>
                </tr>
                <tr class="spaceSides m-0">
                  <td class="nav-link-text">
                    <a href="{{ url_for('home') }}" style="color: black !important;">
                      <div class="nav-link-div">
                        <img src="{{ url_for('static', filename='img/chatbot.png') }}" title="Chatbot" height="30px">
                        <p class="m-0">Chatbot</p>
                      </div>
                    </a>
                  </td>
                  <td class="nav-link-text">
                    <a href="{{ url_for('singlegene_home') }}" style="color: black !important;">
                      <div class="nav-link-div">
                        <img src="{{ url_for('static', filename='img/singlegenequeries.png') }}"
                          title="Single Gene Queries" height="30px">
                        <p class="m-0">Single Gene Queries</p>
                      </div>
                    </a>
                  </td>
                  <td class="nav-link-text">
                    <a href="{{ url_for('geneset_home') }}" style="color: black !important;">
                      <div class="nav-link-div">
                        <img src="{{ url_for('static', filename='img/genesetqueries.png') }}" title="Gene set queries"
                          height="30px">
                        <p class="m-0">Gene Set Queries</p>
                      </div>
                    </a>
                  </td>
                  <td class="nav-link-text">
                    <a href="{{ url_for('species_or_viewerpg', studies_or_gse='bulkrna') }}"
                      style="color: black !important;">
                      <div class="nav-link-div">
                        <img src="{{ url_for('static', filename='img/bulk.png') }}"
                          title="Microarray and Bulk RNA-seq Studies" height="30px">
                        <p class="m-0">Bulk Studies</p>
                      </div>
                    </a>
                  </td>
                  <td class="nav-link-text">
                    <a href="{{ url_for('species_or_viewerpg', studies_or_gse='scrna') }}"
                      style="color: black !important;">
                      <div class="nav-link-div">
                        <img src="{{ url_for('static', filename='img/singlecellthumbnail.png') }}"
                          title="scRNA-seq Studies " height="30px">
                        <p class="m-0">Single Cell Studies</p>
                      </div>
                    </a>
                  </td>
                  <td class="nav-link-text">
                    <a href="{{ url_for('hypotheses') }}"
                      style="color: black !important;">
                      <div class="nav-link-div">
                        <img src="{{ url_for('static', filename='img/lightbulb.png') }}"
                          title="Hypotheses" height="30px">
                        <p class="m-0">Hypotheses</p>
                      </div>
                    </a>
                  </td>
                  <td class="nav-link-text">
                    <a href="{{ url_for('load_niddk_page') }}"
                      style="color: black !important;">
                      <div class="nav-link-div">
                        <img src="{{ url_for('static', filename='img/user_research_network_test.png') }}"
                          title="NIDDK Investigator Queries" height="30px">
                        <p class="m-0">NIDDK Investigator Queries</p>
                      </div>
                    </a>
                  </td>
                  <td class="nav-link-text">
                    <a href="{{ url_for('resources') }}" style="color: black !important;">
                      <div class="nav-link-div">
                        <img src="{{ url_for('static', filename='img/resourcesthumbnail.png') }}" title="Resources"
                          height="30px">
                        <p class="m-0">Resources</p>
                      </div>
                    </a>
                  </td>
                  <td class="nav-link-text">
                    <a href="{{ url_for('contribute') }}" style="color: black !important;">
                      <div class="nav-link-div">
                        <img src=" {{ url_for('static', filename='img/thumbnail_contribute.png' ) }}" title="Contribute"
                          height="30px">
                        <p class="m-0">Contribute</p>
                      </div>
                    </a>
                  </td>
                  <td class="nav-link-text">
                    <a href="{{ url_for('downloads') }}" style="color: black !important;">
                      <div class="nav-link-div">
                        <img src="{{ url_for('static', filename='img/downloading.png') }}" title="Downloads"
                          height="30px">
                        <p class="m-0">Downloads</p>
                      </div>
                    </a>
                  </td>
                  <td class="nav-link-text">
                    <a href="{{ url_for('about') }}" style="color: black !important;">
                      <div class="nav-link-div">
                        <img src="{{ url_for('static', filename='img/help-web-button.png') }}" title="About"
                          height="30px">
                        <p class="m-0">About</p>
                      </div>
                    </a>
                  </td>
                  <td class="nav-link-text">
                    <a href="{{ url_for('help') }}" style="color: black !important;">
                      <div class="nav-link-div">
                        <img src="{{ url_for('static', filename='img/info-512.png') }}" title="Help" height="30px">
                        <p class="m-0">Help</p>
                      </div>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
    </div>
    </nav>
    <!-- Specifically used for when the screen collapses for the hamburger icon -->
    <div class="collapse" id="navbarSupportedContent">

      <!-- Specifically used for when the screen collapses for the hamburger icon -->
      <div class="collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto menu">
          <li class="nav-item menu nav-link-text"><a class="nav-link hover-underline-animation" href="{{ url_for('home') }}"
              style="color: black !important;" onclick='localStorage.setItem("no_splash", true)'>
              <img class="mr-4 ml-4" src="{{ url_for('static', filename='img/chatbot.png') }}" alt="Chatbot"
                title="Chatbot" height="20px" onclick='localStorage.setItem("no_splash", true)'> Chatbot</a>
          </li>

          <li class="nav-item menu nav-link-text">
            <a class="nav-link hover-underline-animation" href="{{ url_for('singlegene_home') }}"
              style="color: black !important;" id="singlegenenav">
              <img class="mr-4 ml-4" src="{{ url_for('static', filename='img/singlegenequeries.png') }}"
                alt="Single Gene Queries" title="Single Gene Queries" height="20px"
                onclick='localStorage.setItem("no_splash", true)'> Single Gene Queries
            </a>
          </li>
          <li class="nav-item menu nav-link-text">
            <a class="nav-link hover-underline-animation" href="{{ url_for('geneset_home') }}" id="genesetnav"
              style="color: black !important;">
              <img class="mr-4 ml-4" src="{{ url_for('static', filename='img/genesetqueries.png') }}"
                alt="Gene Set Queries" title="Gene Set Queries" height="20px"
                onclick='localStorage.setItem("no_splash", true)'> Gene Set Queries
            </a>
          </li>
          <li class="nav-item menu nav-link-text">
            <a class="nav-link hover-underline-animation"
              href="{{ url_for('species_or_viewerpg', studies_or_gse='bulkrna') }}" id="bulknav"
              style="color: black !important;">
              <img class="mr-4 ml-4" src="{{ url_for('static', filename='img/bulk.png') }}"
                alt="Bulk RNA-seq and Microarray Studies" title="Bulk RNA-seq and Microarray Studies" height="20px"
                onclick='localStorage.setItem("no_splash", true)'> Bulk Studies
            </a>
          </li>
          <li class="nav-item menu nav-link-text">
            <a class="nav-link hover-underline-animation"
              href="{{ url_for('species_or_viewerpg', studies_or_gse='scrna') }}" id="scnav"
              style="color: black !important;">
              <img class="mr-4 ml-4" src="{{ url_for('static', filename='img/singlecellthumbnail.png') }}"
                alt="scRNA-seq Studies" title="scRNA-seq Studies" height="20px"
                onclick='localStorage.setItem("no_splash", true)'> Single Cell Studies
            </a>
          </li>
          <li class="nav-item menu nav-link-text">
            <a class="nav-link hover-underline-animation"
              href="{{ url_for('hypotheses') }}" id="hypotheses"
              style="color: black !important;">
              <img class="mr-4 ml-4" src="{{ url_for('static', filename='img/lightbulb.png') }}"
                alt="" title="Hypotheses" height="20px"
                onclick='localStorage.setItem("no_splash", true)'> Hypotheses
            </a>
          </li>

          <li class="nav-item menu nav-link-text">
            <a class="nav-link hover-underline-animation" href="{{ url_for('load_niddk_page') }}"
              style="color: black !important;">
              <img class="mr-4 ml-4" src="{{ url_for('static', filename='img/user_research_network_test.png') }}"
                alt="NIDDK Investigator Queries" title="NIDDK Investigator Queries" height="20px" onclick='localStorage.setItem("no_splash", true)'>
                NIDDK Investigator Queries
            </a>
          </li>

          <li class="nav-item menu nav-link-text">
            <a class="nav-link hover-underline-animation" href="{{ url_for('resources') }}"
              style="color: black !important;">
              <img class="mr-4 ml-4" src="{{ url_for('static', filename='img/resourcesthumbnail.png') }}"
                alt="Resources" title="Resources" height="20px" onclick='localStorage.setItem("no_splash", true)'>
              Resources
            </a>
          </li>

          <li class="nav-item menu nav-link-text">
            <a class="nav-link hover-underline-animation" href="{{ url_for('contribute') }}"
              style="color: black !important;">
              <img class="mr-4 ml-4" src="{{ url_for('static', filename='img/thumbnail_contribute.png') }}"
                alt="Community Contribution" title='Community Contribution' height="20px"
                onclick='localStorage.setItem("no_splash", true)'> Contribute
            </a>
          </li>

          <li class="nav-item menu nav-link-text">
            <a class="nav-link hover-underline-animation" href="{{ url_for('downloads') }}"
              style="color: black !important;"><img class="mr-4 ml-4"
                src="{{ url_for('static', filename='img/downloading.png') }}" alt="Downloads" title="Downloads"
                height="20px" onclick='localStorage.setItem("no_splash", true)'> Downloads</a>
          </li>
          <li class="nav-item menu nav-link-text">
            <a class="nav-link hover-underline-animation" href="{{ url_for('about') }}"
              style="color: black !important;">
              <img class="mr-4 ml-4" src="{{ url_for('static', filename='img/help-web-button.png') }}" alt="About"
                title="About" height="20px" onclick='localStorage.setItem("no_splash", true)'> About
            </a>
          </li>
          <li class="nav-item menu nav-link-text">
            <a class="nav-link hover-underline-animation" href="{{ url_for('help') }}" style="color: black !important;">
              <img class="mr-4 ml-4" src="{{ url_for('static', filename='img/info-512.png') }}" alt="Help" title="Help"
                height="20px" onclick='localStorage.setItem("no_splash", true)'> Help
            </a>
          </li>
        </ul>
      </div>

      {% block content %}
      {% endblock %}
    </div>



    {% block body %}


    {%endblock%}

  </div>


  <!-- load jQuery-->
  <script src=" {{ url_for('static', filename='js/deps/jquery-3.6.0.min.js') }}"></script>

  <!-- load jQuery UI -->

  <script src=" {{ url_for('static', filename='js/deps/jquery-ui.min.js') }}"></script>

  <!-- load bootstrap, popper -->

  <script src=" {{ url_for('static', filename='js/deps/popper.min.js') }}"></script>

  <script src=" {{ url_for('static', filename='js/deps/bootstrap.min.js') }}"></script>

  <script src=" {{ url_for('static', filename='js/deps/bootstrap-toc.min.js') }}"></script>

  <script src=" {{ url_for('static', filename='js/deps/autoComplete.min.js') }}"></script>

  <script src=" {{ url_for('static', filename='js/deps/papaparse.min.js') }}"></script>

  <script type="text/javascript" src="{{url_for('static', filename='js/deps/datatables.min.js')}}"></script>


  <script src="{{url_for('static', filename='js/deps/bokeh-2.4.0.min.js')}}" crossorigin="anonymous"></script>
  <script src="{{url_for('static', filename='js/deps/bokeh-widgets-2.4.0.min.js')}}" crossorigin="anonymous"></script>
  <script src="{{url_for('static', filename='js/deps/bokeh-tables-2.4.0.min.js')}}" crossorigin="anonymous"></script>
  <script src="{{url_for('static', filename='js/deps/bokeh-gl-2.4.0.min.js')}}" crossorigin="anonymous"></script>
  <script src="{{url_for('static', filename='js/deps/bokeh-mathjax-2.4.0.min.js')}}" crossorigin="anonymous"></script>

  <script src="{{url_for('static', filename='js/deps/plotly-latest.min.js')}}"></script>

  <script src=" {{ url_for('static', filename='js/deps/selectize.min.js') }}"></script>

  <script src=" {{ url_for('static', filename='js/deps/masonry.pkgd.min.js') }}"></script>

  <script src=" {{ url_for('static', filename='js/deps/chart.min.js') }}"></script>

  <script src=" {{ url_for('static', filename='js/deps/leaflet.js') }}"></script>

  <script src=" {{ url_for('static', filename='js/deps/cytoscape.min.js') }}"></script>
  <script src=" {{ url_for('static', filename='js/deps/d3.v7.min.js') }}"></script>
  <script src="https://d3js.org/d3-hexbin.v0.2.min.js"></script>
  <script src="https://unpkg.com/topojson@3"></script>
  <script src="https://cdn.jsdelivr.net/npm/d3-array@3"></script>
<script src="https://cdn.jsdelivr.net/npm/d3-geo@3"></script>
  

  <script src="{{ url_for('static', filename='js/main.js') }}"></script>

  {% block footer %}

  {% endblock %}
  <footer class="footer mt-auto mt-4">

    <div class="d-flex justify-content-center">
      <div class="row justify-content-center">
        <div class="col justify-content-center mr-4 ml-2" style="margin-top: 35px;">
          <a href="https://creativecommons.org/licenses/by-nc/4.0/" target="_blank" rel="noreferrer">
            <img class="rounded" src="{{ url_for('static', filename='img/Cc_by-nc_icon.svg.png') }}" style="height: 3rem"
              alt="CC BY-NC 4.0 DEED" />
          </a>
        </div>
        <div class="col d-flex align-items-center justify-content-center mb-2 mt-2 mr-0">
          <a href="https://twitter.com/D2H2Bot?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large"
            data-show-screen-name="false" data-dnt="true" data-show-count="false">Follow @D2H2Bot</a>
          <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <div class="col justify-content-center ml-4 mt-4 mr-2">
          <a href="https://icahn.mssm.edu/research/bioinformatics" target="_blank" rel="noreferrer">
            <img class="rounded" src="{{ url_for('static', filename='img/icahn_cb_logo.png') }}" style="height: 5rem"
              alt="Icahn School of Medicine at Mount Sinai Center of Bioinformatics logo" />
          </a>
        </div>
        <div class="col justify-content-center mt-4">
          <a href="https://labs.icahn.mssm.edu/maayanlab/" target="_blank" rel="noreferrer">
            <img class="rounded ml-3" src="{{ url_for('static', filename='img/maayanlab_logo.png') }}"
              style="height: 6.5rem" alt="Ma'ayan lab logo" />
          </a>
        </div>
        <div class="col mt-5 justify-content-center mb-4">
          <a href="https://attielab.biochem.wisc.edu/" target="_blank" rel="noreferrer">
            <img class="rounded ml-2" src="{{ url_for('static', filename='img/attielab-logo.png') }}"
              style="height: 3.5rem" alt="Icahn School of Medicine at Mount Sinai Center of Bioinformatics logo" />
          </a>
        </div>

        <div class="col d-flex align-items-center justify-content-center mb-2 mt-2">
          <div>
            <a class="btn btn-primary btn-group-sm mx-auto mb-1 d-block" style="font-size: 15px; width: 190px"
              href="https://github.com/MaayanLab/D2H2-site" target="_blank" rel="noopener noreferrer" role="button">
              <span class="badge badge-light mr-1">
                <img src="{{ url_for('static', filename='img/GitHub-Mark.png')}}"
                  style="width: 1rem; border-radius: 2rem;">
              </span>
              View source code
            </a>
            <a class="btn btn-primary btn-group-sm mx-auto" style="font-size: 15px; width: 190px"
              href="https://github.com/MaayanLab/D2H2-site/issues/new" target="_blank" rel="noopener noreferrer"
              role="button">
              <span class="badge badge-light mr-1">
                <img src="{{ url_for('static', filename='img/GitHub-Mark.png')}}"
                  style="width: 1rem; border-radius: 2rem;">
              </span>
              Submit an issue
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>

</html>