<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <title>D2H2</title>


  <link rel="shortcut icon" href="{{ url_for('static', filename='img/d2h2logo.png') }}" type="image/x-icon" />

  <link rel="stylesheet" href="{{ url_for('static', filename='css/deps/bootstrap.min.css') }}" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/deps/bootstrap-toc.min.css') }}" />

  <link rel="stylesheet" href="{{ url_for('static', filename='css/deps/selectize.default.min.css') }}">


  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/deps/datatables.min.css') }}"/>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/deps/bootstrap-select.min.css') }}">
  
  <!-- ✅ Load CSS file for jQuery ui  -->
  <link href="{{url_for('static', filename='css/deps/jquery-ui.css')}}" rel="stylesheet" />

  <link href="{{url_for('static', filename='css/deps/googlefonts.css')}}" rel="stylesheet">

  <link href="{{url_for('static', filename='css/deps/google-fonts-OpenSans.min.css')}}" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">

  {% block head %}{%endblock%}
</head>

<body data-spy="scroll" data-target="#toc" class="m-0">
  <div class="page-contaier" style="position: relative;">
    <div id="content-wrap m-0 p-0">
      <!-- Navbar -->
      <nav id="mainnav" class="navbar navbar-expand-custom center" style="background-color: #f0eef0; font-size: 15px;">
        <a class="navbar-brand p-0" href="{{ url_for('home') }}"><img class="mr-2"
            src="{{ url_for('static', filename='img/d2h2logo.png') }}" height="50px"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto menu">
            <li class="nav-item menu"><a class="nav-link hover-underline-animation" href="{{ url_for('home') }}" style="color: black !important;">Home</a>
            </li>
            
            <li class="nav-item menu">
              <a class="nav-link hover-underline-animation"
                href="{{ url_for('singlegene_home') }}" style="color: black !important;" id="singlegenenav">Single Gene Queries
              </a>
            </li>
            <li class="nav-item menu">
              <a class="nav-link hover-underline-animation"
                href="{{ url_for('geneset_home') }}" id="genesetnav" style="color: black !important;"> Gene Set Queries
              </a>
            </li>
            <li class="nav-item menu">
              <a class="nav-link hover-underline-animation"
                href="{{ url_for('scg') }}" style="color: black !important;"> Customized Workflows
              </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownSpecies" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false" style="color: black !important;">Bulk RNA-seq and Microarray Studies
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownSpecies" style="width: 235px; background-color:#ECEFF1;">
                <a class="dropdown-item nav-link" id ="viewer"
                  href="{{ url_for('species_or_viewerpg', species_or_gse='human') }}" style="color: black;"> Human ({{ numstudies[0] }})</a>
                <a class="dropdown-item nav-link" id ="viewer"
                  href="{{ url_for('species_or_viewerpg', species_or_gse='mouse') }}" style="color: black;""> Mouse ({{ numstudies[1] }})</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownSpecies" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false" style="color: black !important;">scRNA-seq Studies
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownSpecies" style="width: 235px; background-color:#ECEFF1;">
                <a class="dropdown-item nav-link" id ="singleviewer"
                  href="{{ url_for('species_or_viewerpg', species_or_gse='human_single') }}" style="color: black;"> Human ({{ numstudies[2] }})</a>
                <a class="dropdown-item nav-link" id ="viewer"
                  href="{{ url_for('species_or_viewerpg', species_or_gse='mouse_single') }}" style="color: black;"> Mouse ({{ numstudies[3] }})</a>
              </div>
            </li>
            <li class="nav-item menu">
              <a class="nav-link hover-underline-animation"
                href="{{ url_for('resources') }}" style="color: black !important;"> Resources </a>
            </li>
            <li class="nav-item menu">
              <a class="nav-link hover-underline-animation"
                href="{{ url_for('downloads') }}" style="color: black !important;"> Downloads </a>
            </li>
            <li class="nav-item menu">
              <a class="nav-link hover-underline-animation"
                href="{{ url_for('about') }}" style="color: black !important;">About
              </a>
            </li>
            <li class="nav-item menu">
              <a class="nav-link hover-underline-animation"
                href="{{ url_for('help') }}" style="color: black !important;">Help
              </a>
            </li>
          </ul>
        </div>
      </nav>
      {% block content %}
      {% endblock %}
    </div>



    {% block body %}


    {%endblock%}

  </div>


  <!-- load jQuery-->
  <script src=" {{ url_for('static', filename='js/deps/jquery-3.6.0.min.js') }}"></script>

  <!-- load jQuery UI -->
  
  <script src=" {{ url_for('static', filename='js/deps/jquery-ui.min.js') }}"></script>

  <!-- load bootstrap, popper -->

  <script src=" {{ url_for('static', filename='js/deps/popper.min.js') }}"></script>

  <script src=" {{ url_for('static', filename='js/deps/bootstrap.min.js') }}"></script>

  <script src=" {{ url_for('static', filename='js/deps/bootstrap-toc.min.js') }}"></script>

  <script src=" {{ url_for('static', filename='js/deps/autoComplete.min.js') }}"></script>

  <script src=" {{ url_for('static', filename='js/deps/papaparse.min.js') }}"></script>
 
  <script type="text/javascript" src="{{url_for('static', filename='js/deps/datatables.min.js')}}"></script>
  

  <script src="{{url_for('static', filename='js/deps/bokeh-2.4.0.min.js')}}"
        crossorigin="anonymous"></script>
  <script src="{{url_for('static', filename='js/deps/bokeh-widgets-2.4.0.min.js')}}"
          crossorigin="anonymous"></script>
  <script src="{{url_for('static', filename='js/deps/bokeh-tables-2.4.0.min.js')}}"
          crossorigin="anonymous"></script>
  <script src="{{url_for('static', filename='js/deps/bokeh-gl-2.4.0.min.js')}}"
          crossorigin="anonymous"></script>
  <script src="{{url_for('static', filename='js/deps/bokeh-mathjax-2.4.0.min.js')}}"
          crossorigin="anonymous"></script>

  <script src="{{url_for('static', filename='js/deps/plotly-latest.min.js')}}"></script>

  <script src=" {{ url_for('static', filename='js/deps/selectize.min.js') }}"></script>

  <script src=" {{ url_for('static', filename='js/deps/masonry.pkgd.min.js') }}"></script>

  <script src="{{ url_for('static', filename='js/main.js') }}"></script>



  {% block footer %}
  {% endblock %}
  <footer class="footer mt-auto mt-4">

    <div class="d-flex justify-content-center">
      <div class="row justify-content-center">
        <div class="col justify-content-center ml-4 mt-4">
          <a href="https://icahn.mssm.edu/research/bioinformatics" target="_blank" rel="noreferrer">
            <img class="rounded" src="{{ url_for('static', filename='img/icahn_cb_logo.png') }}" style="height: 5rem"
              alt="Icahn School of Medicine at Mount Sinai Center of Bioinformatics logo" />
          </a>
        </div>
        <div class="col justify-content-center mt-4">
          <a href="https://labs.icahn.mssm.edu/maayanlab/" target="_blank" rel="noreferrer">
            <img class="rounded ml-5" src="{{ url_for('static', filename='img/maayanlab_logo.png') }}"
              style="height: 6.5rem" alt="Ma'ayan lab logo" />
          </a>
        </div>
        <div class="col mt-5 justify-content-center mb-4">
          <a href="https://attielab.biochem.wisc.edu/" target="_blank" rel="noreferrer">
            <img class="rounded ml-2" src="{{ url_for('static', filename='img/attielab-logo.png') }}" style="height: 3.5rem"
              alt="Icahn School of Medicine at Mount Sinai Center of Bioinformatics logo" />
          </a>
        </div>

        <div class="col d-flex align-items-center justify-content-center mb-2 mt-2">
          <div>
            <a class="btn btn-primary btn-group-sm mx-auto mb-1 d-block" style="font-size: 15px; width: 190px"
              href="https://github.com/MaayanLab/D2H2-site" target="_blank" rel="noopener noreferrer" role="button">
              <span class="badge badge-light mr-1">
                <img src="{{ url_for('static', filename='img/GitHub-Mark.png')}}"
                  style="width: 1rem; border-radius: 2rem;">
              </span>
              View source code
            </a>
            <a class="btn btn-primary btn-group-sm mx-auto" style="font-size: 15px; width: 190px"
              href="https://github.com/MaayanLab/D2H2-site/issues/new" target="_blank" rel="noopener noreferrer"
              role="button">
              <span class="badge badge-light mr-1">
                <img src="{{ url_for('static', filename='img/GitHub-Mark.png')}}"
                  style="width: 1rem; border-radius: 2rem;">
              </span>
              Submit an issue
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>

</html>