{% extends 'base.html' %}

{% block body %}

<div class="justify-content-center container-fluid">
    <div class="col-12 justify-content-center mx-auto banner">
        <div class="row justify-content-center mb-3 mt-4">
            <div class=" text-center col-lg-12">
                <h2 class="">Downloads</h2>
                <p> Download curated datasets containing gene expression in various Type 2 Diabetes transcriptomics signatures</p>
            </div>
        </div>

        
        <div class="custom-col col-10 p-3 mb-5 justify-content-center mx-auto" id="downloads">
        
        </div>
    </div>
</div>

{% endblock %}