{% extends 'base.html' %}

{% block body %}

<div class="justify-content-center container-fluid">
    <div class="col-12 justify-content-center mx-auto banner">
        <div class="row justify-content-center mb-3 mt-4">
            <div class=" text-center col-lg-12">
                <h2 class="">Downloads</h2>
                <p> Download curated datasets containing gene expression in various Type 2 Diabetes transcriptomics signatures</p>
            </div>
        </div>

        
        <div class="custom-col col-10 p-3 mb-5 justify-content-center mx-auto" id="downloads">
        
        </div>
    </div>
</div>

<div id="endpoint" style="display: none;">{{endpoint}}</div>

{% endblock %}


{% block footer %}
<script>
function createDownloadsTable() {
    document.getElementById("downloads").innerHTML = "<div class='loader justify-content-center'></div>";
    $.ajax({
        url: "getdownloads",
        type: "POST",
        data: {},
        dataType: 'json',
    }).done(function(response) {

        const data = response['downloads']

        var headers = data[0]

        var tabletext = "<table id='table-downloads' class='styled-table mb-5'><thead><tr>"

        headers.forEach(function(header) {
            tabletext += "<th>" + header + "</th>"
        });
        tabletext += "</tr><tbody>"

        for (var k = 1; k < data.length; k++) {
            tabletext += "<tr><td>"+ data[k][0]+"</td><td>"+ data[k][1]+ "</td><td>"+ data[k][2]+ "</td><td>"

            var links = data[k][3].split(',')
            links.forEach(function(link) {
                var types = link.split('.')
                var type = types[types.length - 1]
                if (type === 'f') {
                    type = 'feather';
                }
                tabletext += "<a href='" + document.getElementById('endpoint').innerText + link + "'><img src='static/img/download.png' alt='' style='width: 12px;'>"+ "<img class='mr-2 ml-1' src='static/img/" + type + ".png' alt='' style='width: 15px;'></a>";
            });
            tabletext += "</td></tr>"
        }

        tabletext += "</tbody></table>";


        $(document).ready(function(){
            document.getElementById("downloads").innerHTML = tabletext;
            table = $('#table-downloads').DataTable();
        });
    });
}
createDownloadsTable()

</script>

{% endblock %}