{% extends 'base.html' %}



{% block head %}


<meta property="og:description" content="Diabetes Data and Hypothesis Hub (D2H2) is a platform that will facilitate 
      data-driven hypothesis generation for the diabetes and related metabolic disorder research community." />

<title>D2H2</title>


{% endblock %}

{% block body %}

<div class="container-fluid">
  <div class="row mb-5">

    <div class="col-3">
      <nav id="toc" data-toggle="toc" class="navbar navbar-light sticky-top" style="font-weight: 350 !important;"></nav>
    </div>

    <div class="col-9">
      <br>
      <div class="row justify-content-center mt-2 text-center">
        <span class="page-header">Discover Knowledge about Gene Sets</span>
      </div>
      <div class="row justify-content-center mt-2 text-center">
        <p> Enter a set of human gene symbols, or upload a file with human gene symbols, to the input form to receive an
          output from the various tools and databases. </p>
      </div>

      <div class="container mt-2" id="enrichranalysis">
        <div class="row justify-content-center justify-items-center" id="[Signatures]">
          <div class="custom-col">
            <div class="question mt-3 p-2 justify-content-center row text-center">
              <h4>Query a Gene Set across Curated Diabetes-Related Signatures</h4>
            </div>

            <div class="row mt-4 justify-content-center" style="flex-wrap: wrap;">
              <div class="col-md-5 col-sm-7 col-lg-4 text-center mr-5 mt-4">
                <textarea class="input-form" name="list" rows="8" id="text-area0"
                  placeholder="Paste a set of valid Entrez gene symbols (e.g. STAT3) on each row in the text-box"
                  onkeyup="geneCount($(this).val(), 0)" onchange="geneCount($(this).val(), 0)"
                  onfocus="geneCount($(this).val(), 0)"></textarea>
                <div class="mt-1">
                  <span id="gene-count0"> 0 </span> gene(s) entered
                </div>
                <div class="text-center">
                  <a id="examplefill0" style="color: rgb(10, 13, 149)">Try an example gene set</a>
                </div>

              </div>
              <div class="col-md-7 col-sm-7 col-lg-6 text-center mr-3" style="overflow-y: visible !important;">
                <p>
                  File formats accepted: csv, tsv, txt file with Entrez gene symbols on each line
                </p>
                <form action="/action_page.php" style="flex-wrap: wrap;">
                  <input type="file" id="gene-file0" name="filename">
                </form>
                <label class="mt-1 mr-1" for="desc1">Enter gene set description (optional): </label>
                <input class="form-control-md" id="desc1" type="text">
                <p class="mt-2">Perform enrichement analysis through Enricher with the entered or uploaded gene set
                  agasint
                  our curated
                  Diabetes gene set library.
                  Any overlapping gene can be submitted to the <a href="{{ url_for('singlegene_home')}}">Single Gene
                    Queries</a> page and the sets of overlapping genes can be submitted to the <a
                    href="{{ url_for('geneset_home') }}">Gene Set Queries page.</p>
              </div>
              <div class="flex-column justify-content-center text-center m-2" style="overflow-y: visible !important;">

              </div>
            </div>



            <div class="justify-content-center row text-center mt-1">
              <a id="Signatures">
                <button type="button" class="btn btn-primary btn-group-sm mt-3 mb-3"> Submit to Enrichr
                  <img src="{{ url_for('static', filename='img/enrichrlogo.png') }}" class="img-fluid mr-3"
                    style="width: 45px" alt="Enrichr">
                </button>
              </a>
            </div>
              <div id="[Signatures]loading"></div>
              <div id="Signatures-result" class="m-4 mx-auto" style="width: 80%;"></div>
          </div>
        </div>
      </div>

      <div class="container mt-2">
        <div class="row justify-content-center justify-items-center" id="[Enrichment]">
          <div class="d-flex col-12 custom-col justify-content-center justify-items-center">
            <div class="mt-2">
              <div class="question ml-2 justify-content-center row">
                <h4>In which annotated gene sets is my gene set enriched?</h4>
              </div>

              <div class="row justify-content-center" style="flex-wrap: wrap;">
                <div class="col-md-10 col-sm-7 col-lg-6 text-center mr-3">
                  <textarea class="input-form" name="list" rows="8" id="text-area1"
                    placeholder="Paste a set of valid Entrez gene symbols (e.g. STAT3) on each row in the text-box"
                    onkeyup="geneCount($(this).val(), 1)" onchange="geneCount($(this).val(), 1)"
                    onfocus="geneCount($(this).val(), 1)"></textarea>
                  <div class="mt-1">
                    <span id="gene-count1"> 0 </span> gene(s) entered
                  </div>
                  <div class="text-center">
                    <a id="examplefill1" style="color: rgb(10, 13, 149)">Try an example gene set</a>
                  </div>

                </div>
                <div class="flex-column justify-content-center text-center m-2" style="overflow-y: visible !important;">
                  <p>
                    File formats accepted: csv, tsv, txt file with Entrez gene symbols on each line
                  </p>
                  <form action="/action_page.php">
                    <input type="file" id="gene-file1" name="filename">
                  </form>
                  <label class="mt-1 mr-1" for="desc1">Enter gene set description (optional): </label>
                  <input class="form-control-md" id="desc1" type="text">

                </div>
              </div>


              <div class="row text-center justify-content-center mt-2">
                <p>Perform enrichement analysis through Enricher with the entered or uploaded gene set:</p>
              </div>

              <div class="row text-center justify-content-center mt-2">

                <img src="{{url_for('static',filename= 'img/enrichrthumbnail.png')}}" alt=""
                  class="img-fluid img-thumbnail">
              </div>

              <div class="justify-content-center row text-center mt-3">
                <a id="enrichr">
                  <button type="button" class="btn btn-primary btn-group-sm mt-3 mb-3"> Submit to
                    <img src="{{ url_for('static', filename='img/enrichrtext.png') }}" class="img-fluid"
                      style="width: 80px" alt="Enrichr">
                    <img src="{{ url_for('static', filename='img/enrichrlogo.png') }}" class="img-fluid mr-3"
                      style="width: 45px" alt="Enrichr">
                  </button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container mt-3">
        <div class="row justify-content-center justify-items-center" id="[TFs]">
          <div class="d-flex col-md-12 custom-col justify-content-center justify-items-center">
            <div class="mt-3">
              <div class="question ml-2 justify-content-center row text-center">
                <h4>What transcription factors and kinases regulate my gene set?</h4>
              </div>

              <div class="row justify-content-center" id="ea3_entries" style="flex-wrap: wrap;">
                <div class="col-md-10 col-sm-7 col-lg-6 text-center">
                  <textarea class="input-form" name="list" rows="8" id="text-area2"
                    placeholder="Paste a set of valid Entrez gene symbols (e.g. STAT3) on each row in the text-box"
                    onkeyup="geneCount($(this).val(), 2)" onchange="geneCount($(this).val(), 2)"
                    onfocus="geneCount($(this).val(), 2)"></textarea>
                  <div class="mt-1">
                    <span id="gene-count2"> 0 </span> gene(s) entered
                  </div>
                  <div class="text-center">
                    <a id="examplefill2" style="color: rgb(10, 13, 149)">Try an example gene set</a>
                  </div>
                </div>
                <div class="flex-column col-lg-6 justify-content-center text-center m-2"
                  style="overflow-y: visible !important;">
                  <p>
                    File formats accepted: csv, tsv, txt file with Entrez gene symbols on each line
                  </p>
                  <form action="/action_page.php">
                    <input type="file" id="gene-file2" name="filename">
                  </form>

                </div>
              </div>

              <!-- <div class="row justify-content-center"> 
                <button type="button" class="btn btn-primary btn-group-sm mt-3 mb-3" id="ea3_entries_button">Use Up/Down Gene Sets</button>
              </div> -->



              <div class="row align-bottom justify-content-center" style="flex-wrap:wrap">
                <div class="col-md-7 col-lg-6 col-sm-12 align-bottom">

                  <div class="row text-center">
                    <p class="mt-3 m-2"> The ChEA3 Appyter (ChIP-X Enrichment Analysis 3) predicts transcription
                      factors (TFs)
                      associated with user-input sets of genes. Discrete query gene sets are compared to ChEA3 libraries
                      of
                      \TF target gene sets assembled from multiple orthogonal 'omics' datasets. </p>
                  </div>

                  <div class="row justify-content-center mt-4 mb-3">

                    <img src="{{url_for('static',filename= 'img/chea3-thumbnail.png')}}" " alt="" class=" img-fluid
                      img-thumbnail">
                  </div>


                  <div class="justify-content-center row text-center mb-3">
                    <a id="chea3" target="_blank" rel="noopener noreferrer"
                      href="https://appyters.maayanlab.cloud/ChEA3_Appyter/"><button type="button"
                        class="btn btn-primary btn-group-sm mt-3 mb-3">
                        <span id="appyter-action" class="ml-3">Start a new appyter in</span>
                        <img src="{{url_for('static',filename= 'img/appyters_logo.svg')}}" class="img-fluid mr-3"
                          style="width: 120px" alt="Appyters">
                      </button>
                    </a>
                  </div>

                </div>

                <div class="col-md-7 col-lg-6 col-sm-12 align-bottom">
                  <div class="row text-center mr-2">
                    <p class="mt-3 m-2">Kinase Enrichment Analysis 3 (KEA3) infers upstream kinases
                      whose putative substrates are overrepresented in a user-inputted list of genes or differentially
                      phosphorylated proteins. The KEA3 database contains putative kinase-substrate interactions
                      collected from publicly available datasets.
                    </p>
                  </div>

                  <div class="row justify-content-center mb-3 mt-4">
                    <img src="{{url_for('static',filename= 'img/kea3thumbnail.png')}}" alt=""
                      class="img-fluid img-thumbnail">
                  </div>

                  <div class="justify-content-center row text-center mb-3">
                    <a id="kea3" target="_blank" rel="noopener noreferrer"
                      href="https://appyters.maayanlab.cloud/KEA3_Appyter/"><button type="button"
                        class="btn btn-primary btn-group-sm mt-3 mb-3">
                        <span id="appyter-action" class="ml-3">Start a new appyter in</span>
                        <img src="{{url_for('static',filename= 'img/appyters_logo.svg')}}" class="img-fluid mr-3"
                          style="width: 120px" alt="Appyters">
                      </button>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container mt-3">
        <div class="row justify-content-center justify-items-center" id="[L1000]">
          <div class="d-flex col-md-12 custom-col justify-content-center justify-items-center">
            <div class="mt-3">
              <div class="question ml-2 justify-content-center row text-center">
                <h4>What are the LINCS L1000 small molecules and genetic perturbations that likely up- or down-regulate
                  the expression of my gene set?</h4>
              </div>


              <div class="row justify-content-center" id="sigcom_entries" style="flex-wrap: wrap;">
                <div class="col-md-10 col-sm-7 col-lg-10 text-center mr-3">
                  <textarea class="input-form" name="list" rows="8" id="text-area3"
                    placeholder="Paste a set of valid Entrez gene symbols (e.g. STAT3) on each row in the text-box"
                    onkeyup="geneCount($(this).val(), 3)" onchange="geneCount($(this).val(), 3)"
                    onfocus="geneCount($(this).val(), 3)"></textarea>
                  <div class="mt-1">
                    <span id="gene-count3"> 0 </span> gene(s) entered
                  </div>
                  <div class="text-center">
                    <a id="examplefill3" style="color: rgb(10, 13, 149)">Try an example gene set</a>
                  </div>
                </div>
                <div class="flex-column justify-content-center text-center m-2" style="overflow-y: visible !important;">
                  <p>
                    File formats accepted: csv, tsv, txt file with Entrez gene symbols on each line
                  </p>
                  <form action="/action_page.php">
                    <input type="file" id="gene-file3" name="filename">
                  </form>
                </div>
              </div>

              <div class="row justify-content-center">
                <button type="button" class="btn btn-primary btn-group-sm mt-3 mb-3" id="sigcom_entries_button"
                  value="single">Use Up/Down Gene Sets</button>
              </div>

              <div class="justify-content-center row ml-1 mr-1 text-center">
                <p class="mt-3"> Query SigCom LINCS which is a web-based search engine that serves over 1.5 million gene
                  expression signatures processed, analyzed, and visualized from LINCS, GTEx, and GEO.
                  SigCom LINCS provides rapid signature similarity search for mimickers and reversers given sets of up
                  and down genes.
                </p>
              </div>

              <div class="row justify-content-center mb-3">
                <img src="{{url_for('static',filename= 'img/sigcoms.png')}}" alt="" class="img-fluid img-thumbnail"
                  style="height: 192px;">
              </div>

              <div class="justify-content-center row text-center mt-3">
                <a id="sigcoms">
                  <button type="button" class="btn btn-primary btn-group-sm mt-3 mb-3"> Submit to
                    <img src="{{url_for('static',filename= 'img/sigcom_lincs_logo2.png')}}" class="img-fluid mr-3"
                      style="width: 60px" alt="SigCom LINCS">
                  </button>
                </a>
              </div>


            </div>
          </div>
        </div>
      </div>

      <div class="container mt-2" id="Rummagene-analysis">
        <div class="row justify-content-center justify-items-center" id="[Rummagene]">
          <div class="custom-col">
            <div class="question mt-3 p-2 justify-content-center row text-center">
              <h4>In which extacted gene sets from PubMed Central is my gene set enriched? </h4>
            </div>

            <div class="row mt-4 justify-content-center" style="flex-wrap: wrap;">
              <div class="col-md-5 col-sm-7 col-lg-4 text-center mr-5 mt-4">
                <textarea class="input-form" name="list" rows="8" id="text-area4"
                  placeholder="Paste a set of valid Entrez gene symbols (e.g. STAT3) on each row in the text-box"
                  onkeyup="geneCount($(this).val(), 4)" onchange="geneCount($(this).val(), 4)"
                  onfocus="geneCount($(this).val(), 4)"></textarea>
                <div class="mt-1">
                  <span id="gene-count4"> 0 </span> gene(s) entered
                </div>
                <div class="text-center">
                  <a id="examplefill4" style="color: rgb(10, 13, 149)">Try an example gene set</a>
                </div>

              </div>
              <div class="col-md-7 col-sm-7 col-lg-6 text-center mr-3" style="overflow-y: visible !important;">
                <p>
                  File formats accepted: csv, tsv, txt file with Entrez gene symbols on each line
                </p>
                <form action="/action_page.php" style="flex-wrap: wrap;">
                  <input type="file" id="gene-file4" name="filename">
                </form>
                <label class="mt-1 mr-1" for="desc1">Enter gene set description (optional): </label>
                <input class="form-control-md" id="desc1" type="text">
                <p class="mt-2">Perform enrichment analysis on hundreds of thousands gene sets
                  extracted from supporting tables of over one hundred thousand articles
                  to find the most similar gene sets that match your query.
                  </p>
              </div>
            </div>

            <div class="justify-content-center row text-center mt-1">
              <a id="Rummagene">
                <button type="button" class="btn btn-primary btn-group-sm mt-3 mb-3"> Submit to Rummagene
                  <img src="{{ url_for('static', filename='img/rummagene_logo.png') }}" class="img-fluid mr-3"
                    style="width: 45px" alt="Enrichr">
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>

{% endblock %}

{% block footer %}


<script type="module">

  import { geneset_signatures, geneset_enrichment, geneset_kea3, geneset_chea3, geneset_sigcomlincs, geneset_rummagene} from '../static/js/modules/geneset-queries.js';
  import { loading } from '../static/js/modules/constants.js';
  $(document).ready(function () {
    if (localStorage.hasOwnProperty("geneset")) {
      var genes = localStorage['geneset']
      localStorage.removeItem('geneset');
      genes = genes.split('&').join('\r\n')
      fillSetExample(genes)
    }
  })

  $('#Signatures').click(async function () {
    var inputvalue = document.getElementById("text-area0").value;
    var file = document.getElementById("gene-file0").value;
    var section = "gene-file0";
    var geneset;

    if (inputvalue) {
        geneset = inputvalue.split("\n").join(',')
    }

    if (file) {
        geneset = await loadFileAsText(section, ",");
    }

    document.getElementById('[Signatures]loading').innerHTML = loading;
    await geneset_signatures(geneset, 'Signatures-result');
    document.getElementById('[Signatures]loading').innerHTML = "";
  });



  // ADD LIST TO ENRICHR and Redirect

  $('#enrichr').click(async function () {
        var inputvalue = document.getElementById("text-area1").value;
        var desc = document.getElementById("desc1").value;
        var file = document.getElementById("gene-file1").value;
        const section = "gene-file1";
        if (!inputvalue && !file) {
            alert("No genes entered")
            return;
        }
        if (file) {
            inputvalue = await loadFileAsText(section, "\n");
        }
        if (!inputvalue) {
            alert("Check file format!")
            return;
        }
        if (!desc) {
            enrich({ list: inputvalue, popup: true });
        } else {
            enrich({ list: inputvalue, description: desc, popup: true });
        }
    });

    // TAKE FILE OR TEXT INPUT AND OPEN IN KEA3

    $('#kea3').click(async function () {
        var inputvalue = document.getElementById("text-area2").value;
        var file = document.getElementById("gene-file2").value;
        var section = "gene-file2";

        if (inputvalue) {
            inputvalue = inputvalue.split("\n").join("%0A")
        }

        if (file) {
            inputvalue = await loadFileAsText(section, "%0A");
        }

        if (!inputvalue) {
            $('#kea3').prop('href', "https://appyters.maayanlab.cloud/KEA3_Appyter/")
            return;
        }

        $('#kea3').prop('href', "https://appyters.maayanlab.cloud/KEA3_Appyter/#/?args.Input%20gene/protein%20list=" + inputvalue + "&submit");

    });

    // TAKE FILE OR TEXT INPUT AND OPEN IN CHEA3

    $('#chea3').click(async function () {
        var inputvalue = document.getElementById("text-area2").value;
        var file = document.getElementById("gene-file2").value;
        var section = "gene-file2";

        if (inputvalue) {
            inputvalue = inputvalue.split("\n").join("%0A")
        }

        if (file) {
            inputvalue = await loadFileAsText(section, "%0A");
        }

        if (!inputvalue) {
            $('#chea3').prop('href', "https://appyters.maayanlab.cloud/ChEA3_Appyter/")
            return;
        }

        $('#chea3').prop('href', "https://appyters.maayanlab.cloud/ChEA3_Appyter/#/?args.paste_gene_input=" + inputvalue + "&submit");

    });

    $('#examplefill0').click(function () {
        fillSet('text-area0', 'desc1', 0)
    });

    $('#examplefill1').click(function () {
        fillSet('text-area1', 'desc1', 1)
    });

    $('#examplefill2').click(function () {
        fillSet('text-area2', '', 2)
    });

    $('#examplefill3').click(function () {
        fillSet('text-area3', '', 3)
    });
    $('#examplefill4').click(function () {
        fillSet('text-area4', '', 4)
    });



    // PRODUCE INPUT HTML FOR SINGLE GENE SET

    function getSingleEntry(num, genecount) {
        var single_entry = `<div class="col-6 col-md-10 col-sm-7 col-lg-10 text-center mr-3">
                  <textarea name="list" rows="8" id="text-area${num}"
                    placeholder="Paste a set of valid Entrez gene symbols (e.g. STAT3) on each row in the text-box"
                    onkeyup="geneCount($(this).val(), 3)" onchange="geneCount($(this).val(), 3)"
                    onfocus="geneCount($(this).val(), 3)"></textarea>
                  <div class="mt-1">
                    <span id="gene-count${genecount}"> 0 </span> gene(s) entered
                  </div>
                  <div class="text-center">
                    <a id="examplefill3" style="color: rgb(10, 13, 149)">Try an example gene set</a>
                  </div>
                </div>
                <div class="flex-column justify-content-center text-center m-2" style="overflow-y: visible !important;">
                  <p>
                    File formats accepted: csv, tsv, txt file with Entrez gene symbols on each line
                  </p>
                  <form action="/action_page.php">
                    <input type="file" id="gene-file${num}" name="filename">
                  </form>

                </div>`;
        return single_entry;
    }

    // PRODUCE INPUT HTML FOR MULTIPLE GENE SETS

    function getMultipleEntries(num, genecount) {
        var multiple_entries = `<div class="col-6 col-md-10 col-sm-7 col-lg-10 text-center mr-3">
            <textarea name="list" rows="8" id="text-area${num}-up" placeholder="Paste a set of valid Entrez gene symbols (e.g. STAT3) on each row in the text-box" onkeyup="geneCount($(this).val(), ${genecount})" onchange="geneCount($(this).val(),  ${genecount})" onfocus="geneCount($(this).val(),  ${genecount})"></textarea>
            <div class="mt-1">
                <span id="gene-count${genecount}"> 0 </span> UP gene(s) entered
            </div>
            <div class="text-center">
                <a id="examplefill3-up" onclick="fillSet('text-area3-up', '', 3)" style="color: rgb(10, 13, 149)">Try an example gene set</a>
            </div>
            </div>
            <div class="flex-column justify-content-center text-center m-2" style="overflow-y: visible !important;">
            <p>
                File formats excepted: csv, tsv, txt file with Entrez gene symbols on each line
            </p>
            <form action="/action_page.php">
                <input type="file" id="gene-file${num}-up" name="filename">
            </form>
            
            </div>
            <div class="col-6 col-md-10 col-sm-7 col-lg-10 text-center mr-3">
            <textarea name="list" rows="8" id="text-area${num}-down" placeholder="Paste a set of valid Entrez gene symbols (e.g. STAT3) on each row in the text-box" onkeyup="geneCount($(this).val(), ${genecount + 1})" onchange="geneCount($(this).val(), ${genecount + 1})" onfocus="geneCount($(this).val(), ${genecount + 1})"></textarea>
            <div class="mt-1">
                <span id="gene-count${genecount + 1}"> 0 </span> DOWN gene(s) entered
            </div>
            <div class="text-center">
                <a id="examplefill3" onclick="fillSet2('text-area3-down', '', 4)" style="color: rgb(10, 13, 149)">Try an example gene set</a>
            </div>
            </div>
            <div class="flex-column justify-content-center text-center m-2" style="overflow-y: visible !important;">
            <p>
                File formats excepted: csv, tsv, txt file with Entrez gene symbols on each line
            </p>
            <form action="/action_page.php">
                <input type="file" id="gene-file${num}-down" name="filename">
            </form>
            
            </div>`;
        return multiple_entries;
    }

    // SWITCH INPUT FOR SIGCOM LINCS to UP DOWN OR SINGLE GENE SET

    $('#sigcom_entries_button').click(function () {

        var button = document.getElementById("sigcom_entries_button");
        var mode = button.value


        if (mode === "single") {
            document.getElementById("sigcom_entries").innerHTML = getMultipleEntries(3, 3);
            button.innerText = "Use Single Gene Set"
            button.value = "double"
        } else {
            document.getElementById("sigcom_entries").innerHTML = getSingleEntry(3, 3);
            button.innerText = "Use Up/Down Gene Sets"
            button.value = "single"
        }

    });

    // READ IN TEXT/FILE INPUT AND OPEN IN SIGCOM LINCS

    $('#sigcoms').click(async function () {
        var button = document.getElementById("sigcom_entries_button");


        if (button.textContent === "Use Up/Down Gene Sets") {

            var inputvalue = document.getElementById("text-area3").value;
            var file = document.getElementById("gene-file3").value;
            var section = "gene-file3";

            if (inputvalue) {
                inputvalue = inputvalue.split("\n")
            }

            if (file) {
                inputvalue = await loadFileAsText(section, "\t").split("\t");
            }

            if (inputvalue.length == 0) {
                alert('Please enter a gene set')
            }

            var genes = JSON.stringify({ 'genes': [inputvalue] });

            $.ajax({
                url: "getsigcom",
                contentType: 'application/json',
                type: "POST",
                dataType: 'json',
                data: genes
            }).done(function (response) {

                const url = response['url'];
                window.open(url, '_blank');

            });

        } else {
            var inputvalueUp = document.getElementById("text-area3-up").value;
            var inputvalueDown = document.getElementById("text-area3-down").value;

            var fileUp = document.getElementById("gene-file3-up").value;
            var sectionUp = "gene-file3";
            var fileDown = document.getElementById("gene-file3-down").value;
            var sectionDown = "gene-file3";

            if (inputvalueUp) {
                inputvalueUp = inputvalueUp.split("\n")
            }
            if (inputvalueDown) {
                inputvalueDown = inputvalueDown.split("\n")
            }

            if (fileUp) {
                inputvalueUp = await loadFileAsText(section, "\t").split("\t");
            }

            if (fileDown) {
                inputvalueDown = await loadFileAsText(section, "\t").split("\t");
            }

            if (inputvalueUp.length == 0 || inputvalueDown.length == 0) {
                alert('Please enter an up and down gene set')
            }

            var genes = JSON.stringify({ 'genes': [inputvalueUp, inputvalueDown] });

            $.ajax({
                url: "getsigcom",
                contentType: 'application/json',
                type: "POST",
                dataType: 'json',
                data: genes
            }).done(function (response) {

                const url = response['url'];
                window.open(url, '_blank');
            });

        }
    });


    $('#Rummagene').click(async function () {
        var inputvalue = document.getElementById("text-area4").value;
        var file = document.getElementById("gene-file4").value;
        var section = "gene-file4";

        if (inputvalue) {
            inputvalue = inputvalue.split('\n').join(',')
        }

        if (file) {
            inputvalue = await loadFileAsText(section, "%0A");
        }


        if (inputvalue.length > 0) {
        const query = {
            "operationName": "AddUserGeneSet",
            "variables": {
                "description": '',
                "genes": inputvalue.split(',')
            },
            "query": "mutation AddUserGeneSet($genes: [String], $description: String = \"\") {\n  addUserGeneSet(input: {genes: $genes, description: $description}) {\n    userGeneSet {\n      id\n      __typename\n    }\n    __typename\n  }\n}\n"
        }
        fetch(`https://rummagene.com/graphql`, {
            method: 'POST',
            body: JSON.stringify(query),
            headers: { Accept: 'application/json', "Content-Type": "application/json" }
        })
            .then(function (res) {
                return res.json()
            })
            .then(function ({ data, ...rest }) {
                console.log(data, rest)
                const userListId = (((data || {}).addUserGeneSet || {}).userGeneSet || {}).id
                const url = userListId ? `https://rummagene.com/enrich?dataset=${userListId}` : `https://rummagene.com/`
                window.open(url, '_blank');
            });
    }
    else {
        window.open("https://rummagene.com/", '_blank');
    }
    });

</script>

{% endblock %}