{% extends 'base.html' %} 

{% block body %}
<div class="justify-content-center container-fluid">
  <div class="col-10 justify-content-center mx-auto banner">

    <div class="row justify-content-center mb-5 mt-3">
      <div class="text-center col-lg-12 mt-5">
        <h1 class="">Diabetes Data and Hypothesis Hub</h1>
        <img
          class="p-0 m-0"
          style="width: 65px"
          src="{{ url_for('static', filename='img/d2h2logo.png') }}"
          alt="D2H2 logo"
        />
      </div>
    </div>

    <div class="row justify-content-center mt-5 mb-5 mr-5 text-center">
      <h5> Diabetes Data and Hypothesis Hub (D2H2) is a platform that will facilitate data-driven hypothesis generation for the diabetes and related metabolic disorder research community. 

      </h5>
    </div>
    
    <div class="row justify-content-center mt-5 mb-5 mr-5">
      <label for="generalsearch"> <p class="text-center mt-1">Search:</p> </label>
      <input id="generalsearch" type="text form-control-lg" style="width: 500px; height: 30px;">
    </div>
    

    <div class="row justify-content-center mt-5 mb-5 mr-5 text-center">
      <p> From 1980 to 2014 the number of people with diabetes grew from 108 million people to 422 million people. 
        Additionally, it directly cause the death of 1.5 million people, almost half of which were younger than 70 years old 
        (<a  target="_blank" href="https://www.who.int/news-room/fact-sheets/detail/diabetes#:~:text=The%20number%20of%20people%20with,stroke%20and%20lower%20limb%20amputation.">WHO 2021</a>).
        This resource aims to advance our knowledge surrounding diabetes and enable discovery of novel therapeutics. Some other resources that can be utilized to enable diabetes discovery are avalible on the <a href="{{ url_for('resources') }}"">resources</a> page. 
      </p>
    </div>


    
  </div>
</div>

<br>
<br>
<br>
<br>
<br>


{% endblock %}
</div>
