{% extends 'base.html' %}

{% block body %}
<div class="justify-content-center container-fluid p-0 m-0">
    <div class="col-7 justify-content-center mx-auto p-0 m-0">

        <div class="justify-content-center p-0 m-0" style="flex-wrap: wrap;">

            <!-- Main Panel -->
            <div class="banner">
                <div class="row">
                    <div class="text-center justify-content-center p-3 pb-0 mb-0 mx-auto mt-4">
                        <h2 style="color: black;">Diabetes Data and Hypothesis Hub (D2H2)</h2>
                        <h5 class="m-2 mb-0" style="color: black;"> A platform that facilitates data-driven hypothesis
                            generation
                            for the diabetes and related metabolic disorder research community.
                        </h5>
                    </div>
                </div>
                <div hidden>
                    <div id="human-bulk-num">{{ numstudies[0] }}</div>
                    <div id="mouse-bulk-num">{{ numstudies[1] }}</div>
                    <div id="human-sc-num">{{ numstudies[2] }}</div>
                    <div id="mouse-sc-num">{{ numstudies[3] }}</div>
                </div>
            </div>


            <div class="row justify-content-center text-center">

                <div class="p-2 pt-0 mt-0 text-center col-lg-4 col-sm-6">
                    <p>
                        Curated transcriptomics datasets from various Type 2 Diabetes studies are made available for
                        download,
                        visualization, and enrichment analysis.
                    </p>
                    <h5 style="font-size: 16px;">Processed Bulk RNA-seq, Microarray, and scRNA-seq Studies</h5>
                    <div class="col mb-4">
                        <div class="row">
                            <div class="col text-center mb-3">
                                <h6>Human</h6>
                                <div class="countup num-style" style="font-size: 30px;">{{ numstudies[0] + numstudies[2]
                                    }}</div>
                            </div>
                            <div class="col text-center mb-3">
                                <h6>Mouse</h6>
                                <div class="countup num-style" style="font-size: 30px;">{{ numstudies[1] + numstudies[3]
                                    }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="vertical ml-5" style="margin-top: 6%">
                    <a href="{{ url_for('species_or_viewerpg', species_or_gse='human') }}">
                        <button class="learn-more">
                            <span class="circle" aria-hidden="true">
                                <span class="icon arrow"></span>
                            </span>
                            <span class="button-text">Explore Datasets</span>
                        </button></a>
                </div>
            </div>
        </div>

        <div class="col m-2 mx-right">
            <div class="vertical">
                <div class="input-wrapper row mt-3" style="flex-wrap: nowrap;">
                    <input id="gpt-query" style="right: 0rem; width: 60rem;" type="text"
                        placeholder="Enter a gene related query..." name="text" class="input pr-0 mr-0">
                    <button id="gpt-query-button" class="pl-0 ml-0 query-submit"
                        style="width: 40px; min-width: 40px; height: 55px; top: 0rem; left: .2rem; font-size: xx-large; position: relative">
                        <img src="static/img/doublearrow.png" style="width: 60%" alt="Query">
                    </button>
                </div>
                <p class="m-0 p-0 pt-2" style="font-size: smaller; max-width: 88%;">Try an example:
                    <a class="" style="color: rgb(10, 13, 149); font-size: small;"
                        onclick="document.getElementById('gpt-query').value = 'In what tissues is STAT3 expressed?'">
                        In what tissues is STAT3 expressed?
                    </a>,
                    <a class="" style="color:rgb(10, 13, 149); font-size: small;"
                        onclick="document.getElementById('gpt-query').value = 'What transcription factors regulate my geneset?'">
                        What transcription factors regulate my geneset?
                    </a>,
                    <a class="" style="color:rgb(10, 13, 149); font-size: small;"
                        onclick="document.getElementById('gpt-query').value = 'What diabetes related signatures are realted to AKT1?'">
                        What diabetes related signatures are related to AKT1?
                    </a>,
                    <a class="" style="color:rgb(10, 13, 149); font-size: small;"
                        onclick="document.getElementById('gpt-query').value = 'What small molecules might act as reversers for my up and down genesets?'">
                        What small molecules might act as reversers for my up and down genesets?
                    </a>,
                    <a class="" style="color:rgb(10, 13, 149); font-size: small;"
                        onclick="document.getElementById('gpt-query').value = 'In what diabetes related signatures is my geneset enriched?'">
                        In what diabetes related signatures is my geneset enriched?
                    </a>

                </p>
            </div>
        </div>
        <div id="loading"></div>
        <div id="selector" style="display: none">
            <div class="input-group mt-4 justify-content-center row" id="selector">
                <label class="mt-1 mr-1" for="search">Enter gene symbol: </label>
                <select class="search" id="search" style="width: 200px;" data-url="api/genes/combined"></select>
            </div>
        </div>
        <div class="row justify-content-center" id="enter-geneset" style="display: none;">
            <div class="col-sm-12 col-md-6 col-lg-3 text-center justify-content-end mr-4">
                <textarea class="input-form" name="list" rows="8" id="text-area"
                    placeholder="Paste a set of valid Entrez gene symbols (e.g. STAT3) on each row in the text-box"
                    onkeyup="geneCount($(this).val(), 0)" onchange="geneCount($(this).val(), 0)"
                    onfocus="geneCount($(this).val(), 0)"></textarea>
                <div class="mt-1">
                    <span id="gene-count0"> 0 </span> gene(s) entered
                </div>
                <div class="text-text-center">
                    <a onclick="fillSet('text-area', 'desc', ''); setTimeout(() => geneCount($('#text-area').val(), 0), 50)"
                        style="color: rgb(10, 13, 149)">Try an example gene set</a>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 justify-content-start text-center ml-4" style="overflow-y: visible !important;">
                <p>File formats accepted: csv, tsv, txt file with Entrez gene symbols on each line</p>
                <form action="/action_page.php">
                    <input type="file" id="gene-file" name="filename">
                </form>
                <label class="mt-1 mr-1" for="desc">Enter gene set description (optional): </label>
                <input class="form-control-md" id="desc" type="text">
            </div>
        </div>
        <div class="flex-row justify-content-center" id="enter-geneset-up-down" style="flex-wrap: wrap; display: none;">
            <div class="col">
                <div class="col text-center mr-3">
                    <textarea class="input-form" name="list" rows="8" id="text-area-up"
                        placeholder="Paste a set of valid Entrez gene symbols (e.g. STAT3) on each row in the text-box"
                        onkeyup="geneCount($(this).val(), 1)" onchange="geneCount($(this).val(), 1)"
                        onfocus="geneCount($(this).val(), 1)"></textarea>
                    <div class="mt-1">
                        <span id="gene-count1"> 0 </span> UP gene(s) entered
                    </div>
                    <div class="text-center">
                        <a onclick="fillSet('text-area-up', '', 'up')" style="color: rgb(10, 13, 149)">Try an example gene
                            set</a>
                    </div>
                </div>
                <div class="col justify-content-center text-center m-2" style="overflow-y: visible !important;">
                    <p>
                        File formats accepted: csv, tsv, txt file with Entrez gene symbols on each line
                    </p>
                    <form action="/action_page.php">
                        <input type="file" id="gene-file-up" name="filename">
                    </form>
                </div>
            </div>
            <div class="col">
                <div class="col text-center mr-3">
                    <textarea class="input-form" name="list" rows="8" id="text-area-down"
                        placeholder="Paste a set of valid Entrez gene symbols (e.g. STAT3) on each row in the text-box"
                        onkeyup="geneCount($(this).val(), 2)" onchange="geneCount($(this).val(), 2)"
                        onfocus="geneCount($(this).val(), 2)"></textarea>
                    <div class="mt-1">
                        <span id="gene-count2"> 0 </span> DOWN gene(s) entered
                    </div>
                    <div class="text-center">
                        <a onclick="fillSet2('text-area-down', '', 'up')" style="color: rgb(10, 13, 149)">Try an example
                            gene set</a>
                    </div>
                </div>
                <div class="col justify-content-center text-center m-2" style="overflow-y: visible !important;">
                    <p>
                        File formats accepted: csv, tsv, txt file with Entrez gene symbols on each line
                    </p>
                    <form action="/action_page.php">
                        <input type="file" id="gene-file-down" name="filename">
                    </form>
                </div>
            </div>
        </div>
        <div id="questions"></div>
        <div id="description" class="m-3 "></div>
        <div id="output" style="display: none"></div>
        <div id="result" style="width: 88%;"></div>
        <div id="actions" class="text-center mb-5"></div>
        <div class="text-center justify-content-center row mb-5">
            <button class='btn btn-primary btn-group-sm text-center mr-3' id="toggle" onclick="up_down_toggle()" style="display: none;">Up & Down Gene Sets</button>
            <button class='btn btn-primary btn-group-sm text-center' id="submit_single_gene" style="display: none;">Submit</button>
            <button class='btn btn-primary btn-group-sm text-center' id="submit_gene_set" style="display: none;">Submit</button>
        </div>
    </div>
</div>
{% endblock %}
</div>

{% block footer %}
<script type="module">
    import { human_list, mouse_list, processes } from '../static/js/modules/constants.js';
    import { initialize_search, gen_table, gene_signatures, generanger_plot, geo_reverse, single_gene_perturbations, l1000_reverse, query_gwas, query_enrichr_tfs, loadCorrelation, query_komp } from '../static/js/modules/single-gene-queries.js';
    import { geneset_signatures, geneset_enrichment, geneset_kea3, geneset_chea3, geneset_sigcomlincs } from '../static/js/modules/geneset-queries.js';
    import { runFindQuery, submit_single_gene, run_process_gene, submit_gene_set, run_process_geneset} from '../static/js/modules/query.js';

    

    $("#gpt-query").on('keyup', function (e) {
        var q = document.getElementById('gpt-query').value.trim();
        if (e.key === 'Enter' && q != '') {
            runFindQuery(q)
        }
    })

    $("#gpt-query-button").on('click', function (e) {
        var q = document.getElementById('gpt-query').value.trim();
        if (q != '') {
            runFindQuery(q)
        }
    })

    $("#submit_single_gene").on('click', function (e) {
        var q = document.getElementById('gpt-query').value.trim();
        if (q != '') {
            submit_single_gene(q)
        }
    })

    $("#submit_gene_set").on('click', function (e) {
        var q = document.getElementById('gpt-query').value.trim();
        if (q != '') {
            submit_gene_set(q)
        }
    })


    const countupEls = document.querySelectorAll('.countup');
    countupEls.forEach(animateCountUp);
</script>
{% endblock %}