{% extends 'base.html' %}

{% block body %}
<!-- For gene set modal -->
<dialog data-modal id="geneset-modal" style="margin: auto;">
    <div class="text-center justify-content-center">
        <p id="geneset-modal-title"></p>
        <textarea id="geneset-modal-text" class="text-center" style="height: 20rem; overflow-y: scroll; white-space: pre-wrap;" readonly>
        </textarea>
    </div>
    <div class="row">
        <button type="button" onclick="navigator.clipboard.writeText(document.getElementById('geneset-modal-text').value)" class="btn btn-primary btn-group-sm m-2 ">
            Copy to clipboard
        </button>
        <a id="geneset-modal-queries" href="{{ url_for('geneset_home') }}" onclick="" target='_blank' style="text-decoration: none">
            <button type="button" class="btn btn-primary btn-group-sm m-2">
                Open in Geneset Queries
            </button>
        </a>
        <a id="geneset-modal-download" href="" style="text-decoration: none">
            <button type="button" class="btn btn-primary btn-group-sm m-2">
            Download
            </button>
        </a>
    </div>
</dialog>

<div class="justify-content-center container-fluid p-0 m-0">
    <div class="row text-center justify-content-center" style="display: flexbox;">
        <div class="col p-4 pb-0 mb-0 text-center mt-4">
            <h2 style="color: black; text-align: center !important;">Diabetes Data and Hypothesis Hub (D2H2)</h2>
            <h5 class="m-2 mb-0" style="color: black;"> A platform that facilitates data-driven
                hypothesis generation for the diabetes and related metabolic disorder research community.
            </h5>
        </div>
    </div>
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 justify-content-center mx-auto p-0 m-0">
        <div class="row flex-wrap justify-content-center mx-auto">

            <div id="chat-div" class="col-lg-5 col-md-10 col-sm-10 mt-3 ml-5">
                <h3 class="pt-2 text-center" style="font-size: 1.50rem;">D2H2 Chatbot <img class="ml-2 mb-3"
                        src="{{ url_for('static', filename='img/chatbot.png') }}" alt="Chatbot" height="40px"
                        onclick='localStorage.setItem("no_splash", true)'></h3>
                <div class="justify-content-center p-0 m-0 text-center" style="flex-wrap: wrap;">
                    <!-- Main Panel -->
                    <div class="banner">

                        <div hidden>
                            <div id="human-bulk-num">{{ numstudies[0] }}</div>
                            <div id="mouse-bulk-num">{{ numstudies[1] }}</div>
                            <div id="human-sc-num">{{ numstudies[2] }}</div>
                            <div id="mouse-sc-num">{{ numstudies[3] }}</div>
                        </div>
                    </div>

                    <div class="vertical mt-4" id="chat-section"
                        style="border-style: solid; border-radius: 2rem; border-color: rgb(184, 184, 184); width: 100%; overflow: auto; text-align: left;">
                        <div id="chat-bubbles-section" style="overflow: auto;">
                            <div class="chat chat-start mb-2" id="chat-intro" style="display: none;">
                                <div class="chat-image avatar pl-2" style="width: 50px">
                                    <img src="static/img/d2h2_chat_bot.png" />
                                </div>
                                <div class="chat-header">
                                    D2H2
                                </div>
                                <div class="chat-bubble chat-bubble-info mb-1" style="background-color: #d3d3d3">I am an
                                    AI-powered chat
                                    interface designed to help answer gene and gene set related queries. Please start by
                                    entering a
                                    question.
                                </div>
                            </div>
                        </div>
                        <div class="text-right pr-3 pb-1">
                            <div id="reset"><img id="reset-arrow" src="static/img/reset-arrow.png" alt="reset"
                                    style="width: 20px;" /></div>
                        </div>
                    </div>


                    <div id="query-section" class="col m-2 mx-right mb-5">
                        <div class="vertical">
                            <div class="input-wrapper row mt-3" style="flex-wrap: nowrap;">
                                <input id="gpt-query" style="right: 0rem; width: 100rem;" type="text"
                                    placeholder="Ask D2H2 any question to form hypotheses in T2D research..."
                                    name="text" class="input pr-0 mr-0">
                                <button id="gpt-query-button" class="pl-0 ml-0 query-submit"
                                    style="width: 40px; min-width: 40px; height: 55px; top: 0rem; left: .2rem; font-size: xx-large; position: relative">
                                    <img src="static/img/doublearrow.png" style="width: 60%" alt="Query">
                                </button>
                            </div>
                            <h5 class="pt-2 text-center" style="font-size: 18px;">Examples</h5>
                            <div class="m-0 p-0 cards" style="font-size: smaller; max-width: 96%;">
                                <div class="card">
                                    <div class="q-example" id="q-example1">
                                        In what tissues is STAT3 expressed?
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="q-example" id="q-example2">
                                        Which transcription factors regulate my gene set?
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="q-example" id="q-example3">
                                        Which diabetes-related GEO signatures up- or down-regulate the expression of
                                        AKT1?
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="q-example" id="q-example4">
                                        Which LINCS L1000 small molecules may reverser or mimic my up and down gene
                                        sets?
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="q-example" id="q-example5">
                                        Which diabetes signatures significantly overlap with my gene set?
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="q-example" id="q-example6">
                                        Which genes are most correlated with NFATC1?
                                    </div>
                                </div>
                            </div>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center text-center">

                    <div class="m-2 pt-0 mt-0 text-center col-lg-5 col-sm-6">
                        <p>
                            Curated transcriptomics datasets from various Type 2 Diabetes studies are made available for
                            download, visualization, and enrichment analysis.
                        </p>
                        <h5 style="font-size: 16px;">Processed Bulk RNA-seq, Microarray, and scRNA-seq Studies</h5>
                        <div class="col mb-4">
                            <div class="row">
                                <div class="col text-center mb-3">
                                    <h6>Human</h6>
                                    <div class="countup num-style" style="font-size: 30px;">{{ numstudies[0] +
                                        numstudies[2]
                                        }}</div>
                                </div>
                                <div class="col text-center mb-3">
                                    <h6>Mouse</h6>
                                    <div class="countup num-style" style="font-size: 30px;">{{ numstudies[1] +
                                        numstudies[3]
                                        }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="vertical ml-5 mb-4 col-lg-5 col-sm-6" style="margin-top: 6%">
                        <a href="{{ url_for('species_or_viewerpg', species_or_gse='human') }}">
                            <button class="learn-more">
                                <span class="circle" aria-hidden="true">
                                    <span class="icon arrow"></span>
                                </span>
                                <span class="button-text">Explore Datasets</span>
                            </button>
                        </a>

                        <a href="{{ url_for('contribute') }}">
                            <button class="mt-2 learn-more">
                                <span class="circle" aria-hidden="true">
                                    <span class="icon arrow"></span>
                                </span>
                                <span class="pl-4 button-text">Contribute Datasets</span>
                            </button>
                        </a>
                    </div>

                </div>
            </div>
            <div id="features-div" class="col-lg-5 col-md-10 col-sm-10 ml-5 mt-2 mb-4">
                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-secondary btn-block text-left" type="button"
                                    data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                    aria-controls="collapseOne"
                                    style="background-color: rgb(212, 213, 214); color: black;">
                                    Explore knowledge about a single gene
                                </button>
                            </h2>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                            data-parent="#accordionExample">
                            <div class="card-body text-center">
                                <p>Find knowledge about a single gene, including in which diabetes-related GEO
                                    studies a chosen gene is most differentially expressed.</p>
                                <img src="static/img/t2d-thumbnail.png" alt=""
                                    style="width: auto; height: auto;" class="img-thumbnail mb-2">
                                <div>
                                    <a href="{{ url_for('singlegene_home') }}">
                                        <button class="btn btn-primary">
                                            Single Gene Queries
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h2 class="mb-0">
                                <button class="btn btn-secondary btn-block text-left collapsed" type="button"
                                    data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                    aria-controls="collapseTwo"
                                    style="background-color: rgb(212, 213, 214); color: black;">
                                    Explore knowledge about a gene set
                                </button>
                            </h2>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                            data-parent="#accordionExample">
                            <div class="card-body text-center">
                                <p>Find knowledge about a gene set, including performing enrichment analysis
                                    agasint
                                    our curated diabetes gene set library.</p>
                                <img src="static/img/geneset-thumbnail.png" alt=""
                                style="width: auto; height: auto;" class="img-thumbnail mb-2">
                                <a href="{{ url_for('geneset_home') }}">
                                    <button class="btn btn-primary">
                                        Gene Set Queries
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h2 class="mb-0">
                                <button class="btn btn-secondary btn-block text-left collapsed" type="button"
                                    data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                                    aria-controls="collapseThree"
                                    style="background-color: rgb(212, 213, 214); color: black;">
                                    Browse curated bulk RNA-seq studies
                                </button>
                            </h2>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                            data-parent="#accordionExample">
                            <div class="card-body text-center">
                                <p>Explore a collection of curated diabetes related Bulk-RNA-seq and microarray studies
                                    manually extracted and processed from NCBI's GEO. The expression level of single
                                    genes across conditions is visualized as
                                    a customized box plot viewer; the samples can be visualized as UMAP, tSNE and PCA
                                    plots; and users cam compute differential expression for any two conditions with
                                    replicates.</p>
                                <img src="static/img/dge-features.jpg" alt=""
                                style="width: auto; height: auto;" class="img-thumbnail mb-2">
                                <a href="{{ url_for('species_or_viewerpg', species_or_gse='human') }}">
                                    <button class="btn btn-primary">
                                        Human Bulk RNA-seq/Microarray
                                    </button>
                                </a>
                                <a href="{{ url_for('species_or_viewerpg', species_or_gse='mouse') }}">
                                    <button class="btn btn-primary">
                                        Mouse Bulk RNA-seq/Microarray
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFour">
                            <h2 class="mb-0">
                                <button class="btn btn-secondary btn-block text-left collapsed" type="button"
                                    data-toggle="collapse" data-target="#collapseFour" aria-expanded="false"
                                    aria-controls="collapseFour"
                                    style="background-color: rgb(212, 213, 214); color: black;">
                                    Browse curated single cell RNA-seq studies
                                </button>
                            </h2>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                            data-parent="#accordionExample">
                            <div class="card-body text-center">
                                <p>Explore a collection of curated diabetes related scRNA-seq studies extracted from
                                    NCBI's GEO. The expression of single genes across clusters of a chosen profile can
                                    be visualized as a customized box plot viewer; the single cells can be visualized in
                                    a UMAP, t-SNE and PCA; and users can compute differential expression for each
                                    automatically identified cluster</p>
                                <img src="static/img/single-features.jpg" alt=""
                                style="width: auto; height: auto;" class="img-thumbnail mb-2">
                                <a href="{{ url_for('species_or_viewerpg', species_or_gse='human_single') }}">
                                    <button class="btn btn-primary">
                                        Human scRNA-seq
                                    </button>
                                </a>
                                <a href="{{ url_for('species_or_viewerpg', species_or_gse='mouse_single') }}">
                                    <button class="btn btn-primary">
                                        Mouse scRNA-seq
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}


    {% block footer %}
    <script type="module">
        import { human_list, mouse_list, processes, geneset_entries, geneset_buttons, geneset_buttons_up_down, geneset_up_down_entries } from '../static/js/modules/constants.js';
        //import { gen_table, gene_signatures, generanger_plot, geo_reverse, single_gene_perturbations, l1000_reverse, query_gwas, query_enrichr_tfs, loadCorrelation, query_komp } from '../static/js/modules/single-gene-queries.js';
        //import { geneset_signatures, geneset_enrichment, geneset_kea3, geneset_chea3, geneset_sigcomlincs } from '../static/js/modules/geneset-queries.js';
        import { parse_gene, infer_gene, select_option, runFindQuery, run_process_gene, log_chat } from '../static/js/modules/query.js';
        //import { query_enrichr_metadata, query_rummagene } from '../static/js/modules/term-queries.js';

        //query_enrichr_metadata('diabetes')

        const process_dict = await processes;

        var new_process = true;
        var process_number = false;
        var chat_num = 0;
        var process_info = {};
        var curr_arg = '';
        var options = [];

        var options_str = "<br>";
        const options_dict = {}
        var outputs = Object.keys(process_dict['[Gene]']);
        var process_numbers = []
        let i = 0;
        for (i; i < outputs.length; i++) {
            options_str += `${(i + 1).toString()}. ${process_dict['[Gene]'][outputs[i]].gpt_desc}<br>`;
            options_dict[(i + 1).toString()] = { "response": 0, "input": '[Gene]', "output": outputs[i] };
            process_numbers.push((i + 1).toString())
        }
        outputs = Object.keys(process_dict['[GeneSet]']);
        for (let j = 0; j < outputs.length; j++) {
            options_str += `${(i + j + 1).toString()}. ${process_dict['[GeneSet]'][outputs[j]].gpt_desc}<br>`;
            options_dict[(i + j + 1).toString()] = { "response": 0, "input": '[GeneSet]', "output": outputs[j], 'geneset': '' };
            process_numbers.push((i + j + 1).toString())
        }

        var userid;
        if (localStorage.getItem('userid') == null) {
            userid = "id" + Math.random().toString(16).slice(2);
            localStorage.setItem('userid', userid)
        } else {
            userid = localStorage.getItem('userid')
        }



        function find_number(q) {
            var r = /\d+/g;
            var m;
            while ((m = r.exec(q)) != null) {
                return m[0];
            }
            return ''
        }

        async function reset_process() {
            new_process = true;
            process_info = {};
            curr_arg = '';
            options = [];
            document.getElementById('gpt-query').removeAttribute("disabled")
        }

        async function reset_chat() {
            await reset_process();
            document.getElementById('chat-bubbles-section').innerHTML = "";
            const message = `I am an AI-powered chat interface designed to help answer gene and gene set related queries. Please start by entering a question.`;
            document.getElementById("chat-bubbles-section").appendChild(chatN('start', 'intro', '#d3d3d3', message));
            $(`#chat-intro`).fadeIn(1000)
        }


        async function submit_gene_set() {
            var geneset = '';
            var geneset_up = '';
            var geneset_down = '';

            console.log(chat_num)

            if (document.getElementById(`enter-geneset${chat_num}`).style.display == "flex") {
                var inputvalue = document.getElementById(`text-area${chat_num}`).value;
                var file = document.getElementById(`gene-file${chat_num}`).value;
                var section = `gene-file${chat_num}`;
                geneset;

                if (inputvalue) {
                    geneset = inputvalue.split("\n").join(',')
                }

                if (file) {
                    geneset = await loadFileAsText(section, ",");
                }
            } else {
                var inputvalue_up = document.getElementById(`text-area-up${chat_num}`).value;
                var inputvalue_down = document.getElementById(`text-area-down${chat_num}`).value;
                var file_up = document.getElementById(`gene-file-up${chat_num}`).value;
                var file_down = document.getElementById(`gene-file-down${chat_num}`).value;
                var section_up = `gene-file-up${chat_num}`;
                var section_down = `gene-file-down${chat_num}`;

                if (inputvalue_up) {
                    geneset_up = inputvalue_up.split("\n").join(',')
                }
                if (file_up) {
                    geneset_up = await loadFileAsText(section_up, ",");
                }

                if (inputvalue_down) {
                    geneset_down = inputvalue_down.split("\n").join(',')
                }

                if (file_down) {
                    geneset_down = await loadFileAsText(section_down, ",");
                }
            }

            if (geneset.length == 0 & geneset_up.length == 0 & geneset_down.length == 0) {
                document.getElementById("chat-bubbles-section").appendChild(chatN('start', chat_num, '#d3d3d3', "It appears that you did not enter a gene set. Please enter your gene set or you can reset the chat using the button in the bottom right corner."));
                await $(`#chat-${chat_num}`).fadeIn(2000);
                return;
            }

            process_info['geneset'] = geneset;
            process_info['up'] = geneset_up;
            process_info['down'] = geneset_down;
            await run_process_gene('[USER ENTERED GENESET]', process_info, chat_num, userid);
            chat_num++;
            chat_num++;
            await reset_process();
            document.getElementById('gpt-query').removeAttribute("disabled")
        }

        async function ask_questions(query) {
            var d2h2_response = '';
            var response = document.getElementById('gpt-query').value.trim();
            if (response != '' && query == null) {
                document.getElementById("chat-bubbles-section").appendChild(chatN('end', chat_num, '#d3d3d3', response));
                await $(`#chat-${chat_num}`).fadeIn(1000);
                chat_num++;
                query = response;
            }
            if (process_info['geneSymbol'] == '') {
                const [gene, species] = await parse_gene(query);
                if (gene == '') {
                    d2h2_response = "I did not recognize that gene symbol, please try again.";
                    document.getElementById("chat-bubbles-section").appendChild(chatN('start', chat_num, '#d3d3d3', d2h2_response));
                    await $(`#chat-${chat_num}`).fadeIn(2000);
                    chat_num++;
                    log_chat(query, d2h2_response, userid);

                    var gs = await infer_gene(query)
                    gs = gs.map((x) => `<a class="chat-option" id="option-${x}-${chat_num}" value="${x}">${x}</a>`).join(", ");
                    document.getElementById("chat-bubbles-section").appendChild(chatN('start', chat_num, '#d3d3d3', "Did you mean to enter one of these genes: " + gs + ". You can click a gene to enter it or type in an alternative gene symbol."));
                    await $(`#chat-${chat_num}`).fadeIn(2000);
                    chat_num++;

                    const options_array = Array.from(document.querySelectorAll('.chat-option'));
                    options_array.forEach((elt) => {
                        document.getElementById(elt.id).addEventListener("click", function () {
                            if (process_info['geneSymbol'] == '') {
                                make_option(chat_num, elt.innerText);
                                $(`#chat-${chat_num}`).fadeIn(2000);
                                chat_num++;
                                log_chat(query, elt.innerText, userid);
                                ask_questions(elt.innerText)
                            }
                        });
                    }
                    );

                    return;
                } else {
                    process_info['geneSymbol'] = gene;
                    process_info['species'] = species;
                }
            }
            const qs = process_dict[process_info.input][process_info.output].questions
            if (curr_arg != '') {
                const res = await select_option(query, options);
                if (res == 'error') {
                    d2h2_response = "I did not recognize that option. Please try again.";
                    document.getElementById("chat-bubbles-section").appendChild(chatN('start', chat_num, '#d3d3d3', d2h2_response));
                    await $(`#chat-${chat_num}`).fadeIn(2000);
                    chat_num++;
                    log_chat(query, d2h2_response, userid);
                    return;
                } else if (res == 'busy') {
                    d2h2_response = "I'm sorry, the OpenAPI endpoint is currently overloaded. Please try again in a few seconds.";
                    document.getElementById("chat-bubbles-section").appendChild(chatN('start', chat_num, '#d3d3d3', d2h2_response));
                    await $(`#chat-${chat_num}`).fadeIn(2000);
                    chat_num++;
                    log_chat(query, d2h2_response, userid);
                    return;
                } else process_info[curr_arg] = res;
            }
            for (let i = 0; i < qs.length; i++) {
                if (!(qs[i].arg in process_info)) {
                    var readable_options = qs[i].options.map(x => (x.replace('_', " ")));
                    readable_options = readable_options.map((x) => `<a class="chat-option" id="option-${x}-${chat_num}" value="${x}">${x}</a>`);
                    readable_options[readable_options.length - 1] = "and " + readable_options[readable_options.length - 1] + ".";
                    readable_options = readable_options.join(", ");
                    d2h2_response = qs[i].q + ' The options include ' + readable_options + " Please click or enter the option you would like to select.";

                    document.getElementById("chat-bubbles-section").appendChild(chatN('start', chat_num, '#d3d3d3', d2h2_response));
                    await $(`#chat-${chat_num}`).fadeIn(2000);
                    chat_num++;

                    const options_array = Array.from(document.querySelectorAll('.chat-option'));
                    options_array.forEach((elt) => {
                        console.log(elt)
                        document.getElementById(elt.id).addEventListener("click", function () {
                            if (curr_arg == qs[i].arg) {
                                make_option(chat_num, elt.innerText);
                                $(`#chat-${chat_num}`).fadeIn(2000);
                                chat_num++;
                                log_chat(query, elt.innerText, userid);
                                console.log(elt.innerText)
                                ask_questions(elt.innerText)
                            }
                        });
                    }
                    );

                    log_chat(query, d2h2_response, userid);

                    curr_arg = qs[i].arg;
                    options = qs[i].options;
                    return;
                }
            }
            let process_info_copy = { ...process_info };
            let chat_num_copy = chat_num.valueOf()
            await run_process_gene(query, process_info_copy, chat_num, userid);
            chat_num++;
            chat_num++;
            await reset_process();
        }


        async function run_chat() {
            var d2h2_response = '';
            var q = document.getElementById('gpt-query').value.trim();
            if (q != '') {
                document.getElementById("chat-bubbles-section").appendChild(chatN('end', chat_num, '#d3d3d3', q))
                $(`#chat-${chat_num}`).fadeIn(2000)

                setTimeout(async () => {
                    chat_num++;
                    var response;
                    console.log(find_number(q))
                    if (process_number && process_numbers.includes(find_number(q))) {
                        response = options_dict[find_number(q)];
                        process_number = false;
                        if (response['input'] == '[Gene]') {
                            const res = await parse_gene(q);
                            response['geneSymbol'] = res[0]
                            response['species'] = res[1]
                        }
                    } else response = await runFindQuery(q);

                    if (response['response'] == 1) {
                        if (response['error'] == 'busy') {
                            d2h2_response = "I'm sorry, the OpenAPI endpoint is currently overloaded. Please try again in a few seconds.";
                            document.getElementById("chat-bubbles-section").appendChild(chatN('start', chat_num, '#d3d3d3', d2h2_response));
                            await $(`#chat-${chat_num}`).fadeIn(2000);
                            chat_num++;
                            log_chat(q, d2h2_response, userid);
                            return;
                        } else if (response['error'] == 'input') {
                            var options_str = "<br>";
                            var outputs = Object.keys(process_dict['[Gene]']);
                            let i = 0;
                            for (i; i < outputs.length; i++) {
                                console.log(process_dict['[Gene]'])
                                console.log(outputs[i])
                                options_str += `${(i + 1).toString()}. ${process_dict['[Gene]'][outputs[i]].gpt_desc}<br>`
                            }
                            outputs = Object.keys(process_dict['[GeneSet]']);
                            for (let j = 0; j < outputs.length; j++) {
                                options_str += `${(i + j + 1).toString()}. ${process_dict['[GeneSet]'][outputs[j]].gpt_desc}<br>`
                            }
                            d2h2_response = `D2H2 can only answer specific questions by invoking APIs from a set of selected tools. Below are some examples of questions D2H2 can answer: ${options_str}You can type the number to select a desired process.`;
                            document.getElementById("chat-bubbles-section").appendChild(chatN('start', chat_num, '#d3d3d3', d2h2_response));
                            await $(`#chat-${chat_num}`).fadeIn(2000);
                            chat_num++;
                            log_chat(q, d2h2_response, userid);
                            process_number = true;
                            return;
                        } else {
                            d2h2_response = "I'm sorry, I don't understand the your question. Please try again.";
                            document.getElementById("chat-bubbles-section").appendChild(chatN('start', chat_num, '#d3d3d3', d2h2_response));
                            await $(`#chat-${chat_num}`).fadeIn(2000);
                            chat_num++;
                            log_chat(q, d2h2_response, userid);
                            return;
                        }
                    }
                    new_process = false;
                    process_info = response;
                    if (response['input'] == '[Gene]') {
                        if (response['geneSymbol'] == '') {
                            d2h2_response = 'Please provide a gene symbol.'
                            document.getElementById("chat-bubbles-section").appendChild(chatN('start', chat_num, '#d3d3d3', d2h2_response))
                            await $(`#chat-${chat_num}`).fadeIn(2000);
                            chat_num++;
                            log_chat(q, d2h2_response, userid);
                        } else {
                            document.getElementById('gpt-query').value = '';
                            ask_questions(q);
                        }
                    } else if (response['input'] == '[GeneSet]') {
                        document.getElementById("chat-bubbles-section").appendChild(chatN('start', chat_num, '#d3d3d3', process_dict[response['input']][response['output']].text)) 
                        await $(`#chat-${chat_num}`).fadeIn(2000);
                        chat_num++;
                        console.log(chat_num)
                        log_chat(q, process_dict[response['input']][response['output']].text, userid);
                        if (response['output'] == '[Kinases]') {
                            d2h2_response = "Input a list of proteins:";
                        } else d2h2_response = "Please enter your gene set:";
                        document.getElementById("chat-bubbles-section").appendChild(chatN('start', chat_num, '#d3d3d3', d2h2_response))
                        await $(`#chat-${chat_num}`).fadeIn(2000)
                        chat_num++;
                        log_chat(q, d2h2_response, userid);
                        if (process_dict[response.input][response.output].args.includes('up')) {
                            document.getElementById("chat-bubbles-section").appendChild(chatN('start', chat_num, '#d3d3d3', geneset_up_down_entries(chat_num + 1) + geneset_buttons_up_down(chat_num + 1)))
                        } else document.getElementById("chat-bubbles-section").appendChild(chatN('start', chat_num, '#d3d3d3', geneset_entries(chat_num + 1) + geneset_buttons(chat_num + 1)))
                        document.getElementById(`submit_gene_set${chat_num + 1}`).addEventListener("click", function () {
                            submit_gene_set(process_info);
                        });
                        document.getElementById('gpt-query').setAttribute("disabled", true) 
                        await $(`#chat-${chat_num}`).fadeIn(2000);
                        chat_num++;
                        
                    } else if (response['input'] == '[Term]') {
                        d2h2_response = `I would be happy to help you find gene sets associated with ${response['term']}`;
                        document.getElementById("chat-bubbles-section").appendChild(chatN('start', chat_num, '#d3d3d3', d2h2_response))
                        await $(`#chat-${chat_num}`).fadeIn(2000)
                        chat_num++;
                        console.log
                        log_chat(q, d2h2_response, userid);
                        document.getElementById('gpt-query').value = '';
                        ask_questions(q);
                    }
                }, 1000);
            }
        }

        function run() {
            if (new_process) {
                run_chat();
            } else {
                ask_questions();
            }
            document.getElementById('gpt-query').value = '';
        }

        $("#gpt-query").on('keyup', function (e) {
            if (e.key === 'Enter') {
                run()
            }
        })

        $("#gpt-query-button").on('click', function (e) {
            run_chat()
        })


        document.getElementById("gpt-query").onfocus = function () { fadeChatIn() };

        async function fadeChatIn() {
            $('#chat-div').addClass('col-lg-10')
            $('#features-div').addClass('col-lg-6')
            await $("#chat-section").fadeIn(1000);
            setTimeout(() => $("#chat-intro").fadeIn(), 1500)
            $("#chat-intro").fadeIn(2000)
            if ($(`#chat-${chat_num}`).offset()) {
                $('html, body').animate({
                    scrollTop: $(`#chat-${chat_num}`).offset().top
                }, 1000);
            }
        }

        function fillQuery(q) {
            document.getElementById('gpt-query').value = q;
            fadeChatIn();
            run();
            document.getElementById('gpt-query').value = '';
        }

        const exampleArray = Array.from(document.querySelectorAll('.q-example'));
        exampleArray.forEach((elt) => {
            document.getElementById(elt.id).addEventListener("click", function () {
                fillQuery(elt.innerText);
            });
        }
        );

        document.getElementById('reset').addEventListener("click", function () {
            reset_chat();
            $('#chat-div').removeClass('col-lg-10')
            $('#features-div').removeClass('col-lg-6')

        });


        const countupEls = document.querySelectorAll('.countup');
        countupEls.forEach(animateCountUp);
        const modal = document.getElementById('geneset-modal');
        modal.addEventListener("click", e => {
        const dialogDimensions = modal.getBoundingClientRect()
        if (
            e.clientX < dialogDimensions.left ||
            e.clientX > dialogDimensions.right ||
            e.clientY < dialogDimensions.top ||
            e.clientY > dialogDimensions.bottom
        ) {
            modal.close()
            }
        })
    </script>
    {% endblock %}