{% extends 'base.html' %}

{% block body %}
<div class="justify-content-center container-fluid">
  <div class="col-10 justify-content-center mx-auto banner">
    <div class="row justify-content-center mb-3  mt-4">
      <div class=" text-center col-lg-12">
        <h1 class="">Resources</h1>
      </div>
    </div>
  </div>

  <div class="custom-col col-10 justify-content-center mx-auto mt-4">

    <div id="resources" class="m-3"></div>

  </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>


{% endblock %}
</div>