{% extends 'base.html' %}


{% block body %}

<div class="justify-content-center container-fluid">
    <div class="col-10 justify-content-center mx-auto banner">

        <div class="row justify-content-center mb-3  mt-2">
            <div class=" text-center col-lg-12 mt-5">
                <h3 style="font-size: 35px; font-weight: 300;">Customized Workflows</h3>
            </div>
        </div>

        <div class="col-10 custom-col mx-auto mb-5">
            <div class="row justify-content-center mb-5 mt-5">
                <img src="static/img/scg.png" alt="" class="img-fluid" id="sigcomslogo" style="border-style: none;">
            </div>
            <div class="row justify-content-center mt-4">
                <p style="font-size: 20px;">Signature Commons Graph is an interactive knowledge enrichment tool for
                    user-driven meta-graph traversal.</p>
            </div>

            <div class="row justify-content-center mb-5 mt-2">
                <img src="static/img/SCG-thumbnail.png" alt="" class="img-fluid p-0" style="width: 300px;">
            </div>

            <div class="row justify-content-center mt-4">
                <p style="font-size: 20px;">Choose from a collection of exported workflows or <a
                        href="https://scg.maayanlab.cloud/" target="_blank">create your own</a>.</p>
            </div>

            <div class="row justify-content-center mb-2">
                <select class="selectpicker" data-style="btn-primary" title="Choose a customized workflow..."
                    data-width="500px" id="workflow">
                    <option value="https://scg.maayanlab.cloud/graph/effb7e0e-023c-5534-9045-e2fb545927f4/extend">Start
                        with 'diabetes' disease term</option>
                    <option value="https://scg.maayanlab.cloud/graph/725e3521-9fda-5615-b299-910a551d9fbd/extend">Start
                        with 'insulin' phenotype term</option>
                    <option value="https://scg.maayanlab.cloud/graph/3a26a521-4bcd-5fa6-95ca-942684380e26/extend">Start
                        with 'insulin secretion' pathway input</option>
                </select>
            </div>

            <div class="justify-content-center row text-center mt-2 mb-4">
                <a id="scg-link" href="https://scg.maayanlab.cloud/" target="_blank">
                    <button type="button" class="btn btn-primary btn-group-sm mt-3 mb-3"> Open in
                        <img src="/static/img/scglogo.png" class="img-fluid mr-1 ml-2 mb-2" style="width: 80px"
                            alt="SCG">
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}