{% extends 'base.html' %}


{% block body %}

<div class="justify-content-center container-fluid">
    <div class="col-10 justify-content-center mx-auto banner">

        <div class="row justify-content-center mb-3  mt-2">
            <div class=" text-center col-lg-12 mt-5">
                <h3 style="font-size: 35px; font-weight: 300;">Customized Workflows</h3>
            </div>
        </div>

        <div class="col-10 custom-col mx-auto mb-5 text-center" style="overflow: visible;">
            <div class="row justify-content-center m-5">
                <img src="{{ url_for('static', filename='img/scg.png') }}" alt="" class="img-fluid" id="sigcomslogo" style="border-style: none;">
            </div>
            <div class="row justify-content-center m-4">
                <p style="font-size: 20px;">Signature Commons Graph is an interactive knowledge enrichment tool for
                    user-driven meta-graph traversal.</p>
            </div>

            <div class="row justify-content-center m-2">
                <img src="{{ url_for('static', filename='img/SCG-thumbnail.png') }}" alt="" class="img-fluid p-0" style="width: 300px;">
            </div>

            <div class="row justify-content-center m-4">
                <p style="font-size: 20px;">Choose from a collection of exported workflows or <a
                        href="https://scg.maayanlab.cloud/" target="_blank">create your own</a>.</p>
            </div>

            <!-- <div class="row justify-content-center mb-2">
                <select class="selectpicker" data-style="btn-primary" title="Launch a exported workflow..."
                    data-width="500px" id="workflow">
                    <option value="https://scg.maayanlab.cloud/report/6e797127-788a-508d-b93f-933eb36eb295">Start
                        with a disease term</option>
                    <option value="https://scg.maayanlab.cloud/report/329df500-d840-57b7-8ab9-71b99ae7cf38">Start
                        with a single gene symbol</option>
                    <option value="https://scg.maayanlab.cloud/report/9e37d8ed-8798-5272-9c44-d11a4edf26b0">Start
                        with a gene set</option>
                </select>
            </div>
 -->
            <!-- <div class="justify-content-center row text-center mt-2 mb-4">
                <a id="scg-link" href="https://scg.maayanlab.cloud/" target="_blank">
                    <button type="button" class="btn btn-primary btn-group-sm mt-3 mb-3"> Open in
                        <img src="/static/img/scglogo.png" class="img-fluid mr-1 ml-2 mb-2" style="width: 80px"
                            alt="SCG">
                    </button>
                </a>
            </div> -->

            <div id="workflows" class="mb-4 justify-content-center">

            </div>

        </div>
    </div>
</div>

{% endblock %}

{% block footer %}
<script>
function createWorkflowsTable() {
    document.getElementById("workflows").innerHTML = "<div class='loader justify-content-center'></div>";
    $.ajax({
        url: "getworkflows",
        type: "POST",
        data: {},
        dataType: 'json',
    }).done(function(response) {

        const data = response['workflows']

        var headers = data[0]

        var tabletext = "<table id='table-workflows' class='styled-table'><thead><tr>"

        headers.forEach(function(header) {
            tabletext += "<th>" + header + "</th>"
        });
        tabletext += "</tr><tbody>"

        for (var k = 1; k < data.length; k++) {
            tabletext += "<tr><td>"+ data[k][0]+"</td><td>"+ data[k][1]+ "</td>"
            tabletext += `<td><a id="scg-link" href="${data[k][2]}" target="_blank">
                                <button type="button" class="btn btn-primary btn-group-sm mt-3 mb-3">
                                    Open in<img src="{{ url_for('static', filename='img/scglogo.png') }}" class="img-fluid" style="width: 50px" alt="SCG">
                                </button>
                          </a></td></tr>`
        }

        tabletext += "</tbody></table>";


        $(document).ready(function(){
            document.getElementById("workflows").innerHTML = tabletext;
            table = $('#table-workflows').DataTable();
        });

    });
}

createWorkflowsTable()
</script>
{% endblock %}