{% extends 'base.html' %}



{% block head %}


<meta property="og:description" content="Diabetes Data and Hypothesis Hub (D2H2) is a platform that will facilitate 
      data-driven hypothesis generation for the diabetes and related metabolic disorder research community." />

<title>D2H2</title>

{% endblock %}

{% block body %}

<div class="container-fluid">
  <div class="row mb-5">

    <div class="col-3">
      <nav id="toc" data-toggle="toc" class="navbar navbar-light sticky-top"
        style="font-weight: 350 !important;"></nav>
    </div>

    <div class="col-9 p-2 text-center">
      <br>
      <div class="row justify-content-center mt-2">
        <span class="page-header">Discovering Knowledge about Single Genes</span>
      </div>
      <div class="row justify-content-center mt-2 mb-2">
        <p> Enter a gene symbol into the relevant question input form and the provided information or resource will be
          shown. </p>
      </div>



      <div class="container mt-2">
        <div class="row justify-content-center justify-items-center" id="tissue-cell-expression">
          <div class="d-flex col-12 custom-col justify-content-center justify-items-center">
            <div class="mt-3">
              <div class="question ml-2 justify-content-center row">
                <h4>In what cells and tissues is my gene expressed?</h4>
              </div>



              <div class="mt-4 mb-2 justify-content-center row">
                <label class="mt-1 mr-1" for="search1">Enter gene symbol: </label>
                <select class="search" id="search1" style="width: 200px;" data-url="{{ url_for('genes_api', geo_accession='combined') }}"></select>
              </div>
              <div class="row text-center justify-content-center">
                <p> Try an example: <a onclick="fillSingleExample('STAT3')" style="color:rgb(10, 13, 149);">STAT3</a>, 
                  <a onclick="fillSingleExample('AKT1')" style="color:rgb(10, 13, 149);">AKT1</a> </p>
              </div>

              <div class="row" style="flex-wrap: wrap;">
                <div class="col-md-6 col-lg-6 col-sm-12">

                  <div class="row justify-content-center">
                    <img src="{{url_for('static',filename= 'img/tissueexpression.png')}}" alt="" class="img-fluid img-thumbnail">
                  </div>

                  <div class="justify-content-center row text-center mb-3 mt-3">
                    <a id="archs-url" target="_blank" rel="noopener noreferrer" href="https://maayanlab.cloud/archs4/">
                      <button type="button" class="btn btn-primary btn-group-sm mt-3 mb-3"> Open in
                        <img src="{{url_for('static',filename= 'img/archs4logo.png')}}" class="img-fluid mr-3" style="width: 110px" alt="ARCHS4">
                      </button>
                    </a>
                  </div>

                </div>

                <div class="col-md-6 col-lg-6 col-sm-12">
                  <div class="row justify-content-center">
                    <img src="{{url_for('static',filename= 'img/gtex-thumbnail.png')}}" alt="" class="img-fluid img-thumbnail">
                  </div>

                  <div class="justify-content-center row text-center mt-3 mb-3">
                    <a id="gtex-url" target="_blank" rel="noopener noreferrer" href="https://gtexportal.org/home/">
                      <button type="button" class="btn btn-primary btn-group-sm mt-3 mb-3"> Open in
                        <img src="{{url_for('static',filename= 'img/gtexlogo.png')}}" class="img-fluid mr-3" style="width: 110px" alt="GTEx">
                      </button>
                    </a>
                  </div>
                </div>

              </div>

              <div class="justify-content-center row ml-1 mr-1 text-center">
                <p class="mt-3">This linked Appyter takes a human gene symbol as the input to produce box plots that
                  display its expression across human cell types and tissue at the mRNA and protein levels.</p>
              </div>

              <div class="row justify-content-center mb-3">
                <img src="{{url_for('static',filename= 'img/thumbnail.png')}}" alt="" class="img-fluid img-thumbnail">
              </div>

              <div class="justify-content-center row text-center mb-3">
                <a id="appyter-url1" target="_blank" rel="noopener noreferrer">
                  <button type="button"
                    class="btn btn-primary btn-group-sm mt-3 mb-3">
                    <span id="appyter-action" class="ml-3">Start a new appyter in</span>
                    <img src="{{url_for('static',filename= 'img/appyters_logo.svg')}}" class="img-fluid mr-3" style="width: 120px" alt="Appyters">
                  </button>
                </a>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="container mt-3">
        <div class="row justify-content-center justify-items-center" id="perturbations-conditions">
          <div class="d-flex col-md-12 custom-col justify-content-center justify-items-center">
            <div class="mt-3">
              <div class="question ml-2 justify-content-center row text-center">
                <h4>Under what conditions or perturbations is my gene regulated?</h4>
              </div>

              <div class="input-group mt-4 justify-content-center row">
                <label class="mt-1 mr-1" for="search2">Enter gene symbol: </label>
                <select class="search" id="search2" style="width: 200px;" data-url="{{ url_for('genes_api', geo_accession='combined') }}"></select>
              </div>
              <div class="row text-center justify-content-center">
                <p> Try an example: <a onclick="fillSingleExample('STAT3')" style="color:rgb(10, 13, 149);">STAT3</a>, 
                  <a onclick="fillSingleExample('AKT1')" style="color:rgb(10, 13, 149);">AKT1</a> </p>
              </div>

              <div class="row" style="flex-wrap: wrap;">
                <div class="col-md-6 col-lg-6 col-sm-12">

                  <div class="row text-center">
                    <p class="mt-4 ml-1"> This linked Appyter generates a volcano plot visualization displaying
                      human/mouse signatures for a gene of interest.</p>
                  </div>

                  <div class="row justify-content-center mt-3 mb-3">
                    <img src="{{url_for('static',filename= 'img/genecentric-thumbnail.png')}}" alt="" class="img-fluid img-thumbnail">
                  </div>


                  <div class="justify-content-center row text-center mb-3">
                    <a id="appyter-url2" target="_blank" rel="noopener noreferrer"><button type="button"
                        class="btn btn-primary btn-group-sm mt-3 mb-3">
                        <span id="appyter-action" class="ml-3">Start a new appyter in</span>
                        <img src="{{url_for('static',filename= 'img/appyters_logo.svg')}}" class="img-fluid mr-3" style="width: 120px"
                          alt="Appyters">
                      </button>
                    </a>
                  </div>

                </div>

                <div class="col-md-6 col-lg-6 col-sm-12">
                  <div class="row text-center mr-2">
                    <p class="mt-3">This linked Appyter generates a volcano plot visualization displaying the expression
                      of a specific gene in RNA-seq signatures generated from transformed L1000 data.</p>
                  </div>

                  <div class="row justify-content-center mb-3">
                    <img src="{{url_for('static',filename= 'img/L1000-thumbnail.png')}}" alt="" class="img-fluid img-thumbnail">
                  </div>

                  <div class="justify-content-center row text-center mb-3">
                    <a id="appyter-url3" target="_blank" rel="noopener noreferrer"><button type="button"
                        class="btn btn-primary btn-group-sm mt-3 mb-3">
                        <span id="appyter-action" class="ml-3">Start a new appyter in</span>
                        <img src="{{url_for('static',filename= 'img/appyters_logo.svg')}}" class="img-fluid mr-3" style="width: 120px"
                          alt="Appyters">
                      </button>
                    </a>
                  </div>



                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container mt-3">
        <div class="row justify-content-center justify-items-center" id="gene-transcription-factors">
          <div class="d-flex col-md-12 custom-col justify-content-center justify-items-center">
            <div class="mt-3">
              <div class="question ml-2 justify-content-center row">
                <h4>What are the transcription factors that regulate my gene?</h4>
              </div>

              <div class="input-group mt-4 justify-content-center row">
                <label class="mt-1 mr-1" for="search3">Enter gene symbol: </label>
                <select class="search" id="search3" style="width: 200px;"  data-url="{{ url_for('genes_api', geo_accession='combined') }}"></select>
              </div>
              <div class="row text-center justify-content-center">
                <p> Try an example: <a onclick="fillSingleExample('STAT3')" style="color:rgb(10, 13, 149);">STAT3</a>, 
                  <a onclick="fillSingleExample('AKT1')" style="color:rgb(10, 13, 149);">AKT1</a> </p>
              </div>

              <div class="justify-content-center row ml-1 mr-1 text-center">
                <p class="mt-3"> Query Enrichr to display transcription factor information from annotated datasets about the input gene symbol. </p>
              </div>

              <div class="row justify-content-center mb-3">
                <img src="{{ url_for('static', filename='img/enrichr-thumb.png') }}" alt="" class="img-fluid img-thumbnail">
              </div>

              <div class="justify-content-center row text-center mb-3">
                <a id="enrichr-query"><button type="button"
                    class="btn btn-primary btn-group-sm mt-3 mb-3">
                    <span id="appyter-action" class="ml-3">Query </span>
                    <img src="{{ url_for('static', filename='img/enrichrtext.png') }}" class="img-fluid" style="width: 80px" alt="Enrichr">
                    <img src="{{ url_for('static', filename='img/enrichrlogo.png') }}" class="img-fluid mr-3" style="width: 50px" alt="">
                  </button>
                </a>
              </div>

              <div id="tf-res" class="justify-content-center p-3"> </div>


            </div>
          </div>
        </div>
      </div>

      <div class="container mt-3">
        <div class="row justify-content-center justify-items-center" id="gwas-traits">
          <div class="d-flex col-md-12 custom-col justify-content-center justify-items-center">
            <div class="mt-3">
              <div class="question ml-2 justify-content-center row">
                <h4> Is my gene associated with traits in human GWAS? </h4>
              </div>

              <div class="input-group mt-4 justify-content-center row">
                <label class="mt-1 mr-1" for="search4">Enter gene symbol: </label>
                <select class="search" id="search4" style="width: 200px;" data-url="{{ url_for('genes_api', geo_accession='human') }}"></select>
              </div>
              <div class="row text-center justify-content-center">
                <p> Try an example: <a onclick="fillSingleExample('STAT3')" style="color:rgb(10, 13, 149);">STAT3</a>, 
                  <a onclick="fillSingleExample('AKT1')" style="color:rgb(10, 13, 149);">AKT1</a> </p>
              </div>

              <div class="justify-content-center row ml-1 mr-1 text-center">
                <p class="mt-3"> Query the GWAS API to find if the input gene symbol is associated with traits from
                  the human GWAS catalog. </p>
              </div>


              <div class="row justify-content-center mt-3 mb-3">
                <img src="{{ url_for('static', filename='img/manhattan.png') }}" alt="" class="img-fluid img-thumbnail">

              </div>


              <div class="justify-content-center row text-center  mt-3">
                <a id="gwas-query">
                  <button type="button" class="btn btn-primary btn-group-sm mt-3 mb-3"> Query
                    <img src="{{ url_for('static', filename='img/gwaslogo.png') }}" class="img-fluid mr-3" style="width: 120px" alt="GWAS">
                  </button>
                </a>
              </div>

              <div id="gwas-res" class="p-3"> </div>

            </div>
          </div>
        </div>
      </div>

      <div class="container mt-3">
        <div class="row justify-content-center justify-items-center" id="gene-correlations">
          <div class="d-flex col-md-12 custom-col justify-content-center justify-items-center">
            <div class="mt-3">
              <div class="question ml-2 justify-content-center row">
                <h4> Is my gene correlated with other genes? </h4>
              </div>

              <div class="input-group mt-4 justify-content-center row">
                <label class="mt-1 mr-1" for="search5">Enter gene symbol: </label>
                <select class="search" id="search5" style="width: 200px;" data-url="{{ url_for('genes_api', geo_accession='combined') }}"></select>
              </div>
              <div class="row text-center justify-content-center">
                <p> Try an example: <a onclick="fillSingleExample('STAT3')" style="color:rgb(10, 13, 149);">STAT3</a>, 
                  <a onclick="fillSingleExample('AKT1')" style="color:rgb(10, 13, 149);">AKT1</a> </p>
              </div>

              <div class="justify-content-center row ml-1 mr-1 text-center">
                <p class="mt-3"> Query the ARCHS4 database to return the top 100 correlated genes with the input
                  gene symbol and their pearson correlations. </p>
              </div>

              <div class="row justify-content-center mt-3 mb-3">
                <img src="{{ url_for('static', filename='img/scatter.jpg') }}" alt="" class="img-fluid img-thumbnail">
              </div>

              <div class="justify-content-center row text-center  mt-3">
                <a id="archs4-query">
                  <button type="button" class="btn btn-primary btn-group-sm mt-3 mb-3"> Query
                    <img src="{{ url_for('static', filename='img/archs4logo.png') }}" class="img-fluid mr-3" style="width: 120px" alt="ARCHS4">
                  </button>
                </a>
              </div>

              <div id="archs4-res" class="p-3"> </div>

            </div>
          </div>
        </div>
      </div>

      <div class="container mt-3 mb-3">
        <div class="row justify-content-around" id="gene-phenotypes">
          <div class="d-flex col-md-12 custom-col justify-content-center justify-items-center">
            <div class="mt-3">
              <div class="question ml-2 justify-content-center row text-center">
                <h4> Is there a knockout mouse for my gene and does it show any phenotypes? </h4>
              </div>

              <div class="input-group mt-4 justify-content-center row">
                <label class="mt-1 mr-1" for="search6">Enter gene symbol: </label>
                <select class="search" id="search6" style="width: 200px;" data-url="{{ url_for('genes_api', geo_accession='combined') }}"></select>
              </div>
              <div class="row text-center justify-content-center">
                <p> Try an example: <a onclick="fillSingleExample('STAT3')" style="color:rgb(10, 13, 149);">STAT3</a>, 
                  <a onclick="fillSingleExample('AKT1')" style="color:rgb(10, 13, 149);">AKT1</a> </p>
              </div>

              <div class="justify-content-center row ml-1 mr-1 text-center">
                <p class="mt-3"> Query the MGI database through MouseMine to find phenotypes associated with the
                  knockout of the input gene symbol.
                  The produced table also links to the gene page on MGI, the PubMed articles from which they are
                  sourced, and defintions for the returned phenotypes. </p>
              </div>

              <div class="row justify-content-center mb-3 mt-3">
                <img src="{{ url_for('static', filename='img/mouse.png') }}" alt="" class="img-fluid img-thumbnail">
              </div>

              <div class="justify-content-center row text-center  mt-3">
                <a id="komp-query">
                  <button type="button" class="btn btn-primary btn-group-sm mt-3 mb-3"> Query
                    <img src="{{ url_for('static', filename='img/mgilogo.png') }}" class="img-fluid mr-1 ml-2 mb-2" style="width: 80px" alt="MGI">
                  </button>
                </a>
              </div>


              <div id="komp-res" class="p-3"></div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>



{% endblock %}

{% block footer %}
<script>
  $(document).ready(function() {
    if (localStorage.hasOwnProperty("gene")) {
      var gene = localStorage['gene']
      localStorage.removeItem('gene');
    } else {var gene = ''}

    const searchArray = Array.from(document.querySelectorAll('.search'));
    searchArray.forEach(function(item) {
      var url = item.getAttribute('data-url')
      var $select = $(item).selectize({
        preload: true,
      valueField: 'gene_symbol',
      labelField: 'gene_symbol',
      searchField: 'gene_symbol',
      maxItems: 1,
      render: {
          option: function (item, escape) {
              return '<div class="pt-2 light">'+item.gene_symbol+'</div>';
          }
      },
      load: function (query, callback) {         
          $.ajax({
              url: url,
              dataType: 'json',
              error: function () {
                  callback();
              },
              success: function (res) {
                  callback(res);
                  $select[0].selectize.setValue(gene);
              }
          });
      },
      onDropdownClose: function(value) {
          var gene = this.getValue()
          fillSingleExampleSkip(gene, this.id)
      },
    }) 
    })
  document.getElementById('singlegenenav').className = document.getElementById('singlegenenav').className + ' active';


  })
</script>
{% endblock %}