{% extends 'base.html' %}


{% block body %}
<div class="container px-4 pb-4" style="min-height: 100%;">

    <!-- Title -->
    <div class="row mt-4">
        <div class="col-12 text-center">
            <h2>An Interactive Gene Expression Viewer</h2>
        </div>
    </div>

    <div class="row mt-1">
        <div class="col-12">
            <!-- Abstract large -->
            <div class="d-block">
                <div class="text-center">
                    <p>
                        This module enables interactive visualization of gene expression data from Microarray and
                        RNA-seq experiments from the Gene Expression Omnibus (GEO). The
                        Select a study to compare the expression of single genes across experimental groups as a
                        boxplot, with the conditions on the x-axis and normalized expression levels on the y-axis.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col4 justify-content-center">
        <div class="row justify-content-center">
            <div class="text-center mr-5">
                    Total Studies
            <div class="countup num-style human-counts">{{ gse_metadata['human']|length }}</div>
            <div class="countup num-style mouse-counts" style="display: none;">{{ gse_metadata['mouse']|length }}</div>
            </div>
            <div class="text-center mr-5">
                Total Samples
                <div class="countup num-style human-counts">{{ num_samples['human'] }}</div>
                <div class="countup num-style mouse-counts" style="display: none;">{{ num_samples['mouse'] }}</div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    
</div>

<div class="mb-4 p-3 align-items-center justify-content-center ml-auto mr-auto" style='width:80%; overflow-x: scroll;'>

    <div class="row justify-content-center text-center" id="table-filtering">
        

        <p class="mr-3"></p><select name="Select Method" class="form-select form-select-lg mb-3 mr-1 text-center libpicker" id="tissue-filtering">
            <option selected disabled hidden value="">Filter Tissue</option>
            <option value="">All Tissues</option>
        </select>
    
        <p class="mr-3"></p> <select name="Select Size" class="form-select form-select-lg mb-3 text-center libpicker" id="disease-filtering">
            <option selected disabled hidden value="">Filter Disease</option>
            <option value="">All Diseases</option>
        </select>

        <div class="row justify-content-center mb-2 mr-5 ml-3">
            <label class="mt-2 mr-1" for="species-toggle"></label>
            <label class="toggle" id="species-toggle">
              <input type="checkbox" id="species-val">
              <span class="slider"></span>
              <span class="labels" data-on="Mouse" data-off="Human"></span>
            </label>
          </div>
    </div>

    <table class="table table-bordered table-hover styled-table" id="studies-table">
        <thead class="thead-light">
            <tr>
                <th scope="col">GSE Accession ID</th>
                <th scope="col">Title</th>
                <th scope="col">Organism</th>
                <th scope="col">Assay</th>
                <th scope="col">Tissue</th>
                <th scope="col">Disease</th>
                <th scope="col">Num Samples</th>
                <th scope="col">Perturbations</th>
                <th scope="col">Submission Date</th>
                <th scope="col">Study Design</th>
                <th scope="col">PMID</th>
                <th scope="col">Gene Viewer Link</th>
                
            </tr>
        </thead>
        <tbody>
            {% for gse_id, geo_metadata in gse_metadata['human'].items() %}
            <tr>
                <th scope="row"><a class="text-br-red" href="{{ geo_metadata.get('gse_link', ['#'])[0]|safe }}"
                        target="_blank" rel="noopener noreferrer">{{ gse_id }}</a></th>
                <td>{{ geo_metadata.get('title', ['No Title'])[0].replace('RTN1 IS A NOVEL MEDIATOR FOR PROGRESSION OF
                    KIDNEY DISEASE', 'RTN1 Is A Novel Mediator For Progression of Kidney Disease')|safe}}</td>
                <td>
                    {% if geo_metadata.get('cur_gpl', ['Single GPL'])[0] != 'Single GPL' %}
                    {% for gpl_metadata in geo_metadata['all_gpls'] %}
                    {% if 'Homo sapiens' in gpl_metadata['organism'] %}
                    {{ gpl_metadata['organism'][0]|safe }}
                    {% endif %}
                    {% endfor %}
                    {% else %}
                    {{ geo_metadata['all_gpls'][0].get('organism', ['No Organism'])[0]|safe }}
                    {% endif %}
                </td>
                <td>
                    {% if geo_metadata.get('type', ['No Assay'])|length > 1 %}
                    {% for assay in geo_metadata.get('type', ['No Assay']) %}
                    {{ assay|safe }}
                    {% endfor %}
                    {% else %}
                    {{ geo_metadata.get('type', ['No Assay'])[0]|safe }}
                    {% endif %}
                </td>
                <td>{{ geo_metadata.get('tissue_type_identifier') }}</td>
                <td>{{ geo_metadata.get('disease_type_identifier') }}</td>
                
                <td>
                {{ geo_metadata.get('numsamples') }}

                </td>
                <td>
                    <ul style="margin:0;padding-left:10px;">
                    {% for pert in geo_metadata.get('perturbations') %}
                    <li><span>{{ pert }}</span></li>
                    {% endfor %}
                </ul>
                </td>

                <td data-order="{{geo_metadata.get('submission_date')[0][-5:] + month_dict[geo_metadata.get('submission_date')[0][:3]] + geo_metadata.get('submission_date')[0][4:6]}}" >
                    {{month_dict[geo_metadata.get('submission_date')[0][:3]] + '/' + geo_metadata.get('submission_date')[0][4:6] + '/' + geo_metadata.get('submission_date')[0][-4:]}}
                </td>
                <td>
                    <button class="btn-custom btn-group-sm btn-collapse collapsed text-center"
                        data-toggle="collapse" data-target="#studyDesignCollapse-{{gse_id}}" aria-expanded="false"
                        aria-controls="studyDesignCollapse-{{gse_id}}">
                        Show Study Design
                    </button>
                    <div class="collapse" id="studyDesignCollapse-{{gse_id}}">
                        {{ geo_metadata.get('overall_design', ['No Study Design'])[0]|safe }}
                        <br>
                        Platform: {{ geo_metadata.get('platform') }}
                    </div>
                </td>
                <td>
                    {% if geo_metadata.get('pubmed_id', ['No Pubmed ID'])[0]|safe != 'No Pubmed ID' %}
                    <a class="text-br-red" href="{{ geo_metadata.get('pubmed_link', ['#'])[0]|safe }}" target="_blank"
                        rel="noopener noreferrer">
                        {{ geo_metadata.get('pubmed_id', ['No Pubmed ID'])[0]|safe }}
                        
                    </a>
                    {% else %}
                    <p>N/A</p>
                    {% endif %}
                </td>
                <td><a href="{{ url_for('species_or_viewerpg', studies_or_gse=gse_id) }}"><button class="btn btn-primary btn-group-sm">{{ gse_id }} Gene Viewer</button></a></td>
            </tr>
            {% endfor %}


            {% for gse_id, geo_metadata in gse_metadata['mouse'].items() %}
            <tr>
                <th scope="row"><a class="text-br-red" href="{{ geo_metadata.get('gse_link', ['#'])[0]|safe }}"
                        target="_blank" rel="noopener noreferrer">{{ gse_id }}</a></th>
                <td>{{ geo_metadata.get('title', ['No Title'])[0].replace('RTN1 IS A NOVEL MEDIATOR FOR PROGRESSION OF
                    KIDNEY DISEASE', 'RTN1 Is A Novel Mediator For Progression of Kidney Disease')|safe}}</td>
                <td>
                    {% if geo_metadata.get('cur_gpl', ['Single GPL'])[0] != 'Single GPL' %}
                    {% for gpl_metadata in geo_metadata['all_gpls'] %}
                    {% if 'Homo sapiens' not in gpl_metadata['organism'] %}
                    {{ gpl_metadata['organism'][0]|safe }}
                    {% endif %}
                    {% endfor %}
                    {% else %}
                    {{ geo_metadata['all_gpls'][0].get('organism', ['No Organism'])[0]|safe }}
                    {% endif %}
                </td>
                <td>
                    {% if geo_metadata.get('type', ['No Assay'])|length > 1 %}
                    {% for assay in geo_metadata.get('type', ['No Assay']) %}
                    {{ assay|safe }}
                    {% endfor %}
                    {% else %}
                    {{ geo_metadata.get('type', ['No Assay'])[0]|safe }}
                    {% endif %}
                </td>
                <td>{{ geo_metadata.get('tissue_type_identifier') }}</td>
                <td>{{ geo_metadata.get('disease_type_identifier') }}</td>
                
                <td>
                {{ geo_metadata.get('numsamples') }}

                </td>
                <td>
                    <ul style="margin:0;padding-left:10px;">
                    {% for pert in geo_metadata.get('perturbations') %}
                    <li><span>{{ pert }}</span></li>
                    {% endfor %}
                </ul>
                </td>

                <td data-order="{{geo_metadata.get('submission_date')[0][-5:] + month_dict[geo_metadata.get('submission_date')[0][:3]] + geo_metadata.get('submission_date')[0][4:6]}}" >
                    {{month_dict[geo_metadata.get('submission_date')[0][:3]] + '/' + geo_metadata.get('submission_date')[0][4:6] + '/' + geo_metadata.get('submission_date')[0][-4:]}}
                </td>
                <td>
                    <button class="btn-custom btn-group-sm btn-collapse collapsed text-center"
                        data-toggle="collapse" data-target="#studyDesignCollapse-{{gse_id}}" aria-expanded="false"
                        aria-controls="studyDesignCollapse-{{gse_id}}">
                        Show Study Design
                    </button>
                    <div class="collapse" id="studyDesignCollapse-{{gse_id}}">
                        {{ geo_metadata.get('overall_design', ['No Study Design'])[0]|safe }}
                        <br>
                        Platform: {{ geo_metadata.get('platform') }}
                    </div>
                </td>
                <td>
                    {% if geo_metadata.get('pubmed_id', ['No Pubmed ID'])[0]|safe != 'No Pubmed ID' %}
                    <a class="text-br-red" href="{{ geo_metadata.get('pubmed_link', ['#'])[0]|safe }}" target="_blank"
                        rel="noopener noreferrer">
                        {{ geo_metadata.get('pubmed_id', ['No Pubmed ID'])[0]|safe }}
                        
                    </a>
                    {% else %}
                    <p>N/A</p>
                    {% endif %}
                </td>
                <td><a href="{{ url_for('species_or_viewerpg', studies_or_gse=gse_id) }}"><button class="btn btn-primary btn-group-sm">{{ gse_id }} Gene Viewer</button></a></td>
            </tr>
            {% endfor %}


        </tbody>
    </table>
</div>
<div class="row text center justify-content-center">
    <p>
        This module was developed by the <a class="text-br-red" href="https://labs.icahn.mssm.edu/maayanlab/"
            target="_blank" rel="noopener noreferrer">Ma'ayan Laboratory</a>, and it is funded by NIH grants <a
            class="text-br-red" href="https://reporter.nih.gov/search/mr1dDhzzV0ezl5gHT3ip6A/project-details/10364063"
            target="_blank" rel="noopener noreferrer">R01DK131525</a> and <a class="text-br-red"
            href="https://reporter.nih.gov/search/S5e0jg4ipkuTqk8o-vkmIw/project-details/10414588" target="_blank"
            rel="noopener noreferrer">RC2DK131995</a>.
    </p>
</div>


{% endblock %}

{% block footer %}
<script>

const countupEls = document.querySelectorAll( '.countup' );
countupEls.forEach( animateCountUp );

DataTable.ext.search.push(function (settings, data, dataIndex) {
    var species = 'Homo sapiens'
    let species_data = data[2]

    if ($('#species-val').is(':checked')) {
        species = 'Mus musculus'
    }
    if (species_data.includes(species)) return true;
 
    return false;
});
DataTable.ext.search.push(function (settings, data, dataIndex) {
    var tissue = $('#tissue-filtering').val()
    let tissue_data_inrow = data[4]
    if (tissue === null || tissue === ""){
        return true;
    }
    if (tissue_data_inrow === tissue) {
        return true;
    }
 
    return false;
});
DataTable.ext.search.push(function (settings, data, dataIndex) {
    var disease = $('#disease-filtering').val()
    let disease_data_inrow = data[5]
    if (disease === null || disease === ""){
        return true;
    }
    if (disease_data_inrow === disease) {
        return true;
    }
 
    return false;
});
table = $('#studies-table').DataTable({
        dom: 'Bfrtip',
        buttons: [
            'copy', { extend: 'csv', title: `D2H2-bulkrna-microarray-studies` }
        ],
        responsive: true,
        columnDefs: [
        {
            target: 2,
            searchable: true,
            visible: false
        },
        {
            target: 3,
            searchable: true,
            visible: false
        },
        {
            target: 9,
            searchable: true,
            visible: false
        },
        {
            target: 10,
            searchable: true,
            visible: false
        }
    ]
});

$('#species-val').on('change', function () {
    table.draw()
    const mouseCounts = $('.mouse-counts')
    const humanCounts = $('.human-counts')
    if ($('#species-val').is(':checked')) {
        mouseCounts.each((i) => {
            mouseCounts[i].style.display = 'block';
            humanCounts[i].style.display = 'none';
        })
    } else {
        mouseCounts.each((i) => {
            mouseCounts[i].style.display = 'none';
            humanCounts[i].style.display = 'block';
        })
    }
} );

table.columns().flatten().each( function ( colIdx ) {
        // console.log(studiesTable.column(colIdx).header())
        let data  = table.column(colIdx).header()
        console.log($(data).html() ==='Assay')
        if ($(data).html() ==='Tissue'){
            table
            .column( colIdx )
            .cache( 'search' )
            .sort()
            .unique()
            .each( function ( d ) {
                if (d !== 'Not Specified'){
                    $('#tissue-filtering').append( $('<option value="'+d+'">'+d+'</option>') );
                }
                
            } );
            $('#tissue-filtering').on('change', function (event) {
                table
                            // .search( $(this).val() )
                            .draw();
                    } );

        }
        if ($(data).html() ==='Disease'){
            table
            .column( colIdx )
            .cache( 'search' )
            .sort()
            .unique()
            .each( function ( d ) {
                $('#disease-filtering').append( $('<option value="'+d+'">'+d+'</option>') );
            } );

            $('#disease-filtering').on('change', function (event) {
                table.draw();
            } );
        }
    } );


    window.addEventListener( "pageshow", function ( event ) {
        var historyTraversal = event.persisted || 
                                ( typeof window.performance != "undefined" && 
                                    window.performance.navigation.type === 2 );
        console.log(historyTraversal)
        if ( historyTraversal ) {
            // Handle page restore.
            table.draw()
        }
    });

</script>


{% endblock %}